<div id="tablecontent">
  <table id="htmlgrid" class="testgrid">
    <% @data_set.project.fields.each do |f| %><%end%>
    <% 0.times do |f|%>
      <th><%=f.name%></th>
    <%end%>
  </table>
</div>
