<% if @cur_user.admin or @cur_user = @data_set.owner %>
  <h1>Editing Data</h1>

  <table id="editTable" class="table">
    <thead>
      <tr>
        <% @project.fields.each do |f| %>
          <th data-field-type="<%= get_field_name(f.field_type) %>"><%= f.name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @mongo_data_set.data.each_with_index do |row, r_index| %>
        <% row.each_with_index do |data, d_index| %>
          <tr>
            <% @project.fields.each_with_index do |field| %>
              <td>
                <% if !data[field.id].nil? %>
                  <%= data[field.id] %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% link_to 'Show', @data_set %>
<%else%>
  You are not authorized to view this page.
<%end%>