<script type="text/javascript">
  window.fields = JSON.parse('<%= raw @project.fields.to_json%>');
  window.postURL = '<%= url_for :controller => :data_sets, :action => :manualUpload, :eid => @project.id %>';
</script>

<div class="row">
	<div style="margin-bottom:20px" class="span12">
    <table id="manualTable">
      <thead>
        <tr>
        <% for field in @project.fields %>
          <th data-field-type="<%= get_field_name(field.field_type) %>"><%= field.name %></th>
        <% end %>
        </tr>
      </thead>

      <tbody>
        <tr>
        <% for i in 0...@project.fields.length %>
          <td></td>
        <% end %>
        </tr>
      </tbody>
    </table>
	</div>
</div>