<script type="text/javascript">
  window.fields = JSON.parse('<%= raw @project.fields.to_json%>');
  window.postURL = 'manualUpload';
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<div class="row">
  <div style="margin-bottom:20px" class="span12" style="">
    <table id="manualTable" style="width:100%;overflow:auto;display:block">
      <thead>
        <tr>
        <% for field in @project.fields %>
          <th data-field-type="<%= get_field_name(field.field_type) %>"><%= field.name %></th>
        <% end %>
        </tr>
      </thead>

      <tbody>
        <tr>
        <% for i in 0...@project.fields.length %>
          <td></td>
        <% end %>
        </tr>
      </tbody>
    </table>    
  </div>
</div>