<!-- Handlebars template for photos in the photo vis -->
<div class='p_item'>
  <img id='pic_{{index}}' src="{{tn_src}}"/> <br>
  <div class="caption_wrap">
    <span class="caption">
      Data Set: {{name}} ({{id}})
    </span>
  </div> <br>
</div>
