<%= devise_error_messages! %><br><br>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="panel panel-default">
      <div class="panel-body flex-center">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--google-sign-in"
          href='/users/auth/google_oauth2'>
          <img class="google-logo" src='/assets/btn_google_light_normal_ios.svg'/>
          Sign in with Google
        </a>
      </div>
    </div>
  </div>
</div>
