<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="center">
    <h1>Welcome to the Physics Tracker</h1>
    <p>This application allows you to upload a video, and we'll use computer vision to automatically
    track an object of your choice.</p>
    <p>First, upload a video file. MOV or MP4 files are recommended.<br/>
    Afterward, follow the simple instructions on the screens that follow.</p>
    <p>When you're done, you can add your data to an iSENSE project, including
    our <a href="https://isenseproject.org/projects/3304">communal dataset</a>.<br/>
    Be sure to check out the amazing experiments that have already been done!</p>
    <br/><%= link_to 'Get Started', '/physics', class: 'yellow_button' %><br/><br/><br/>
    <h3>An <a href="https://www.uml.edu/Honors/">Honors</a> Project at UMass Lowell</h3>
    <p>This project was completed in Fall 2017 by Doug Salvati for the Honors College.<br/>
    It was adopted into the iSENSE project in Spring 2018 as a way to generate data for iSENSE users.</p>
    <p><a href="https://github.com/doug-salvati/Physics-Tracker">Check out the source code on <i class="fa fa-github" aria-hidden="true"></i> GitHub</a></p>
    <hr/>
  </body>
</html>
