<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1> REPORT OF INAPPROPRIATE CONTENT </h1>


    <h3>User clicked report at URL:</h3>
    <p>
      <%= @prev_URL%>
    </p>

    <h3>The content is located at: </h3>
    <p>
      <%= @location %>
    </p>
    

    <h3>The offending content is: </h3>
    <p>
      <%= @content %>
    </p>
  </body>

</html>
