<table style="border: 1px solid gray; border-collapse: collapse;">
    <tr>
        <td style="background-color: #111133; padding: 15px;">
                <a href="https://isenseproject.org"><img src="https://raw.githubusercontent.com/isenseDev/rSENSE/master/app/assets/images/isense-logo.png" style="height: 35px;"></a>
                <h1 style="color: white;"><em>You've been subscribed to emails from iSENSE.</em></h1>
            </h1>
        </td>
    </tr>
    <tr>
        <td style="padding: 15px; text-align: center">
            <h2>Hi <%= @user.name %></h2>
            <h1>Welcome to the iSENSE mailing list.</h1>
            <p>You have opted to recieve messages from the iSENSE team at this address.</p>
            <p>Much of our news and support is posted in our Google Group, we encourage you to join:</p>
            <p><br><%= link_to 'Check it Out', 'https://groups.google.com/forum/#!forum/isense-users/join', {:style=>'color: white; text-decoration: none; font-size: 1.5em; background-color: #4CAF50; padding: 15px;'} %></p>
            <p><br>Thanks for joining and have a great day!</p>
            <p>- iSENSE Team</p>
            <p><br>If you didn't request to be on this mailing list, click <%= link_to "here", '#' %> to unsubscribe.</p>
        </td>
    </tr>
    <tr>
        <td style="border: 1px solid gray; background-color: #f5f5f5;">
            <p style="color: #c5c5c5; padding-left: 15px; text-align: center; font-size:0.9em">
                Message automatically sent by the iSENSE Project.<br>
                iSENSE is a web system for sharing and visualizing scientific data. It is intended to be a resource for middle school and high school science, math, and engineering instruction.
                The iSENSE project is a collaborative effort of the University of Massachusetts Lowell and Machine Science Inc.<br>
                <a style="color: #c5c5c5;" href="#">Unsubscribe</a> | 
                <a style="color: #c5c5c5;" href="https://isenseproject.org">Home</a> | 
                <a style="color: #c5c5c5;" href="https://isenseproject.org/about">About</a> | 
                <a style="color: #c5c5c5;" href="https://isenseproject.org/privacy_policy">Privacy Policy</a>
            </p>
        </td>
    </tr>
</table>