<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>

  <body>
    <h1>Welcome to iSENSE, <%= @user.firstname %></h1>
    <p>
      To validate your email so you can start creating projects, just follow this link: <a href="<%= @url %>"> Click Here!</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>