$(document).ready ->
    
  #This is where we edit 
  edit = ->
    name = $(@).parent().parent().find('.field_name')
    unit = $(@).parent().parent().find('.field_unit')
    field = helpers.get_field_type ($(@).parent().parent().find('.field_type').text())

    name.wrapInner("<input type='text' class='name_edit_box' value='#{name.text().trim()}'>")
    unit.wrapInner("<input type='text' class='unit_edit_box' value='#{unit.text().trim()}'>") if field is (helpers.get_field_type "Number")
    name.find('.name_edit_box').focus()

    $(@).hide()
    $(@).siblings('.field_save_link').show()


  #This is where we save after editing    
  save = ->
    name = $(@).parent().parent().find('.field_name')
    unit = $(@).parent().parent().find('.field_unit')
    field = helpers.get_field_type ($(@).parent().parent().find('.field_type').text())

    name_text = name.find('.name_edit_box').val().trim()
    unit_text = if field is (helpers.get_field_type "Number")
      unit.find('.unit_edit_box').val().trim()
    else
      ""

    data={}
    data['field'] = {}
    data['field']['name'] = name_text
    data['field']['unit'] = unit_text
    
    $.ajax
        url: $(@).attr('href')
        type: "PUT"
        dataType: "json"
        data:
            data
        success: =>        
            $(@).siblings('.field_edit_link').show()
            $(@).hide()
            name.html(name_text)
            unit.html(unit_text)
            
    false

  addField = (type) ->
  
    typeName = helpers.get_field_name type
    unit = helpers.get_default_unit type
    
    $.ajax
      url: '/fields/'
      type: 'POST'
      dataType: 'json'
      data:
        field:
          experiment_id: ($ '.fields_table').attr 'experiment'
          name: typeName
          unit: unit
          field_type: type
      success: (msg) =>
        htmlStr  = "<tr>"
        htmlStr += "<td class='field_name'>#{typeName}</td>"
        htmlStr += "<td class='field_unit'>#{unit}</td>"
        htmlStr += "<td class='field_type'>#{typeName}</td>"
        ($ '.create_session').show()
        
        if not (type in [(helpers.get_field_type "Latitude"), (helpers.get_field_type "Longitude")])
          htmlStr += "<td><a class='field_edit_link'><i class='icon-edit'></i></a><a href='/fields/#{msg.id}' class='field_save_link'><i class='icon-ok'></i></a></td>"
        else
          htmlStr += "<td></td>"
        
        htmlStr += "</tr>"
        ($ '.fields_table').append htmlStr

        ($ '.field_edit_link').click edit
        ($ '.field_save_link').click save

        if not (type in [(helpers.get_field_type "Latitude"), (helpers.get_field_type "Longitude")])
          ($ '.field_edit_link').last().trigger 'click'
        
  ($ '.field_edit_link').click edit
  ($ '.field_save_link').click save

  ($ '.add_timestamp_field').click ->
    addField helpers.get_field_type 'Timestamp'

  ($ '.add_number_field').click ->
    addField helpers.get_field_type 'Number'

  ($ '.add_text_field').click ->
    addField helpers.get_field_type 'Text'

  ($ '.add_location_field').click ->
    addField helpers.get_field_type 'Latitude'
    addField helpers.get_field_type 'Longitude'
    ($ '#add-field-dropdown ul li a.add_location_field').remove()

    
  