Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName: aws-elasticbeanstalk-ec2-role
                    buckets: elasticbeanstalk-us-east-1-203232684667
files:
  "/var/app/ondeck/db/data.yml":
        mode: "000755"
        owner: ec2-user
        source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-203232684667/data.yml
        authentication: S3Access
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_db_create.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars

      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR
      su -s /bin/bash -c "leader_only bundle exec rake db:create" $EB_APP_USER
      echo "Rake task failed to run, skipping seeding."
      true