Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName: aws-elasticbeanstalk-ec2-role
                    buckets: elasticbeanstalk-us-east-1-203232684667
files:
  "/var/app/ondeck/db/data.yml":
        mode: "000755"
        owner: ec2-user
        source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-203232684667/data.yml
        authentication: S3Access
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_db_create.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd $EB_CONFIG_APP_ONDECK
      su -c "leader_only rake db:create && leader_only rake db:load" $EB_CONFIG_APP_USER ||
      echo "Rake task failed to run, skipping seeding."
      true