option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"

packages:
  yum:
    git: []
    postgresql93-server: []
    postgresql93-devel: []

commands:
  01-chmod-webapp:
    command: chmod -R 770 /home/webapp

container_commands:
  01-chmod-webapp:
    command: "chmod -R 770 /home/webapp"


files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_db_create.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      EB_SCRIPT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k script_dir)
      EB_APP_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)
      EB_APP_USER=$(/opt/elasticbeanstalk/bin/get-config container -k app_user)
      EB_SUPPORT_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k support_dir)

      . $EB_SUPPORT_DIR/envvars

      . $EB_SCRIPT_DIR/use-app-ruby.sh

      cd $EB_APP_STAGING_DIR
      su -s /bin/bash -c "leader_only bundle exec rake db:create" $EB_APP_USER
      true
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/8_swap_create.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo dd if=/dev/zero of=/swapfile bs=1024 count=256k
      sudo mkswap /swapfile
      sudo swapon /swapfile
      true
  "/home/webapp/.recaptcha_key":
    mode: "000755"
    owner: ec2-user
    group: ec2-user
    authentication: S3Access
    source: https://s3.amazonaws.com/elasticbeanstalk-us-east-1-203232684667/.recaptcha_key



Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName: aws-elasticbeanstalk-ec2-role
                    buckets: elasticbeanstalk-us-east-1-203232684667


