<div class="row" id="title_row" style="margin-left: 0px;">
    <span id="title_span" class="span12" style="font-size:2em"><%= media_object_edit_menu_helper %></span><br><br>
</div>

<% if @media_object.media_type == "image" %>
  <%= image_tag @media_object.src %>
<% else %>
  <%= link_to "Link to Media", @media_object.src %>
<% end %>
