<div class="feed-top">
  <h1>Register for iSENSE</h1>
  
  <div class="feed-even">
    <div class="field_top">First Name: *</div>
    <div class="field_top">
      <input id="firstname"></input>
    </div>
    <div style="clear:both;"></div>
    
    <div class="hint"> Can contain letters, single quotes, and hyphens. </div>
  </div>
    
  <div class="feed-odd">
    <div class="field_top">Last Name: *</div>
    <div class="field_top">
      <input id="lastname"></input>
    </div>
    <div style="clear:both;"></div>
    
    <div class="hint"> Can contain letters, single quotes, and hyphens. </div>
  </div>
  
  <div class="feed-even">
    <div class="field_top">Username: *</div>
    <div class="field_top">
      <input id="username"></input>
    </div>
    <div style="clear:both;"></div>
    
    <div class="hint"> Can contain letters and numbers. </div>
  </div>
  
  <div class="feed-odd">
    <div class="field_top">Email:</div>
    <div class="field_top">
      <input id="email"></input>
    </div>
    <div style="clear:both;"></div>
    
    <div class="hint"> e.g. user@example.com </div>
  </div>
  
  <div class="feed-even">
    <div class="field_top">Password: *</div>
    <div class="field_top">
      <input id="password" type="password"></input>
    </div>
    <div style="clear:both;"></div>
    
    <div class="hint"> Can contain any letters, number, and punctuation. </div>
  </div>
    
  <div class="feed-odd">
    <div class="field_top">Confirmation: *</div>
    <div class="field_top">
      <input id="password_confirmation" type="password"></input>
    </div>
    <div style="clear:both;"></div>
    
    <div class="hint">  </div>
  </div>
  
  <div class="feed-bottom" style="padding-top:4px;"> 
    <div class="actions">
      <button id="register" class="btn btn-primary"> Create User </button>
    </div>
  </div>
