
<h1>Reset Your Password</h1>

<p>Enter your username or email below to reset your password.</p>

<%= form_tag('/users/pw_send_key') do %><br>
  <p><%= label_tag :username_or_email, "Username or Email:" %>
    <%= text_field_tag :username_or_email %>
  <p><%= submit_tag "Reset Password" %></p>
<% end %>
