<% if @sent %>

<h1>Password Reset Requested</h1>
<p>You have requested a password reset. Please check your email
for instructions to complete the process.</p>

<% else %>

<h1>Password Reset Failed</h1>

<p><%= @reason %></p>
<p>Please contact an administrator to request a manual password
reset.</p>

<% end %>
