<!-- Handlebars template -->
<div class="group row" id="group-{{g_id}}">
  <div class="col-xs-12 group-header">
    {{group_label}}
  </div>
  <div class="col-xs-12 group-body" id="gbody-{{g_id}}">
  </div>
</div>
