<!-- Handlebars template for the photo box in the photo vis -->
<div class="col-xs-6 col-lg-3 pic-box">
  <div id="{{p_id}}" class="item item-block clickable">
    <div class="item-image item-photo-image"
         style="background-image:url({{tn_src}})">
    </div>
    <div class="item-desc item-photo-desc">
      <div class="item-title word-wrap">
        Data Set: {{d_name}} ({{d_id}})
      </div>
    </div>
  </div>
</div>
