<div class="col-lg-<%= width %> box-container">
  <div class="box-header text-center">
    <%= truncate(title, length: 20) %>
  </div>
  <div class="box-content">
    <%= yield %>
    <div class="clearfix"></div>
  </div>
  <div class="box-slider text-center">
    <i class="icon-chevron-up"></i>
  </div>
</div>
