<div class="col-lg-<%=width%> box-container" id="<%=unique_id%>" <%if should_hide == true %> style="display:none"<%end%> >
  <div class="box-header text-center">
    <%= title %>
  </div>
  <div class="box-content">
    <%= yield %>
  </div>
  <div class="box-slider text-center">
    <i class="icon-chevron-up"></i>
  </div>
</div>