
<div class="span3">
    <div class="sidebar_box grey_content">
        <div class="accordion" id="accordion3">
            <div class="accordion-group">
                <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                    <h4 class="center">Media</h4>
                </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <table class="table">
                            <% @experiment.media_objects.all.each do |mo| %>
                                <tr>
                                    <td><img src='<%=mo.src%>'width="100px" heigh="100px"/></td>
                                    <td><%= link_to mo.name, media_object_path(mo.id)%></td>  
                                </tr>
                            <%end%>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>