<div id="viswrapper">
  <div id="vis-ctrl-container"
    <% if @presentation %> style="display:none" <% end %>>
    <div id="vis-ctrls">
    </div>
    <div id="controlhider">
      <i id="hiderbtn" class="fa fa-chevron-circle-left"></i>
    </div>
  </div>
  <div id="viscontainer" role="tabpanel">
    <div id="vistitlebar">
      <div class="inline-left">
        <%= title.html_safe %>
        <span class="subtitle">
          of <%= link_to project.title.html_safe, project, class: "i" %>
        </span>
      </div>
      <div id="visowner" class="subtitle inline-right">
        by <%= link_to "#{owner.name}", owner, class: "link" %>
        <%= link_to image_tag(Gravatar.new.url(owner),
            class: "circle-img"), owner %>
      </div>
    </div>
    <ul id="vistablist" role="tablist" class="nav nav-tabs"
        data-tabs="tabs"
        <% if @presentation %> style="display:none" <% end %>>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" id="map_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="table_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="timeline_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="scatter_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="bar_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="histogram_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="pie_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="summary_canvas"
           class="vis_canvas tab-pane fade">
      </div>
      <div role="tabpanel" id="photos_canvas"
           class="vis_canvas tab-pane fade">
      </div>
    </div>
  </div>
</div>
