<%= render partial: 'vis', locals: { project: @project,
    owner: @project.owner,
    title: (if @datasets.count == 1 then
    @datasets.first.title.html_safe else 'Showing Multiple Data Sets' end),
    titleBar: true,
    controls: true } %>
<div class="row">
  <% if @datasets.count == 1 %>
    <div class="col-md-4">
      <% @data_set = @datasets.first %>
      <%= render layout: "shared/box",
          locals: {title: 'Media', width: '12',
          unique_id: 'media', should_hide: false} do %>
        <%= render "shared/media_objects_view",
            {type: 'data_set', object: @data_set} %>
      <% end %>
    </div>
  <% end %>
</div>
