<script>
  window.data = <%= raw @Data.to_json %>;
  window.globals = <%= raw @Globals.to_json %>;
</script>
<script type="text/javascript"
      src="https://maps-api-ssl.google.com/maps/api/js?key=AIzaSyBxtPK1_mxwVdl1NRu7ZEiSNvmCekFSZAw&sensor=false&libraries=visualization&v=3.9">
</script>

<div id="viscontainer">
    <ul id='visTabList' <%if @presentation%> style="display:none" <%end%>></ul>
    <div id="map_canvas" class="vis_canvas"></div>
    <div id="table_canvas" class="vis_canvas"></div>
    <div id="timeline_canvas" class="vis_canvas"></div>
    <div id="scatter_canvas" class="vis_canvas"></div>
    <div id="bar_canvas" class="vis_canvas"></div>
    <div id="histogram_canvas" class="vis_canvas"></div>
    <div id="motion_canvas" class="vis_canvas"></div>
    <div id="photos_canvas" class="vis_canvas"></div>
    <div id='controlhider' <%if @presentation%> style="display:none" <%end%>>
        <button id="control_hide_button" type="button" style="margin:5px;"> > </button>
    </div>
    <div id="controldiv"></div>
</div>
    