<div class="category-header">
  <div class="category-header__title">
    <h3><a class="category-header__anchor" name="<%= name %>"></a><%= text %></h3>
  </div>
  <div class="category-header__top-link">
    <a href="#">Back to top</a>
  </div>
</div>
