<div class="func-description">
  <div class="func-description__top">
    <div class="func-description__signature">
      <code><%= signature %></code>
    </div>
    <div class="func-description__summary">
      
    </div>
  </div>
  <div class="func-description__bottom">
    <%= yield %>
  </div>
</div>
