<h2>Are you interested in working with us?</h2> 
<p>If so, please contact one of the people listed below.</p>
<br />
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Fred Martin</h3>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="https://isenseimgs.s3.amazonaws.com/103e4f32-462d-43a3-8aba-5c3d163afce0.jpeg" height="120" alt="Fred Martin"/>
				</div>
				<div class="col-md-12 center">
					<b>Associate Professor</b> <br /> 
					University of Massachusetts Lowell<br />
					Email: <a href="mailto:fredm@cs.uml.edu">fredm@cs.uml.edu</a>
				</div>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Ivan Rudnicki</h3>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="https://isenseimgs.s3.amazonaws.com/b8be9179-862b-4947-81d3-4e6df20190e8.gif" height="120" alt="Ivan Rudnicki"/> 
				</div>
				<div class="col-md-12 center">
					<b>Co-founder </b> <br /> 
					Machine Science Inc. <br />
					Email: <a href="mailto:ivan@machinescience.org">ivan@machinescience.org</a>
				</div>
      </div>
    </div>
  </div> 
</div>
<hr />
<h2>Meet the developers</h2> 
<div class="row">
	
	<!--Developer section -->
	<div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>James Dalphond</h3>
				<i>Lead Developer, Technology Manager</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/james_dalphond.jpg" height="120" alt="James Dalphond"/> 
				</div>
				<div class="col-md-12 center">
					<b>Doctoral Candidate </b> <br /> 
					University of Massachusetts Lowell <br />
					Email: <a href="mailto:jdalphon@cs.uml.edu">jdalphon@cs.uml.edu</a>
					<a href="http://www.cs.uml.edu/~jdalphon">http://www.cs.uml.edu/~jdalphon</a>
				</div>
      </div>
    </div>
  </div>  
  
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Nat Tuck</h3>
				<i>Rails Developer</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/nat_tuck.jpg" height="120" alt="Nat Tuck"/> 
				</div>
				<div class="col-md-12 center">
					<b>Doctoral Candidate </b> <br /> 
					University of Massachusetts Lowell <br />
					Email: ntuck☃cs.uml.edu <br />
					<a href="http://www.cs.uml.edu/~ntuck">http://www.cs.uml.edu/~ntuck</a>
				</div>
      </div>
    </div>
  </div>  
  
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Alan Rosenthal</h3>
				<i>AppInventor Integration</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/alan_rosenthal.jpg" height="120" alt="Alan Rosenthal"/> 
				</div>
				<div class="col-md-12 center">
					<b>Graduate Student</b> <br />
					​M.S. Computer Science 2014 <br />
					B.S. Electrical Engineering 2012  
					<p>University of Massachusetts Lowell </p>
			
				</div>
      </div>
    </div>
  </div>
  
	<div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Kaitlyn Carcia</h3>
				<i>Release Manager, Web Developer</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/kaitlyn_carcia.jpg" height="120" alt="Kaitlyn Carcia"/> 
				</div>
				<div class="col-md-12 center">
					<b>Undergraduate Student</b> <br /> 
					B.S. Computer Science 2015<br /> 
					Minor in Business Administration<br /> 
					Email: <a href="mailto:kate.carcia@gmail.com">kate.carcia@gmail.com</a>
					<br/><br />
				</div>
      </div>
    </div>
  </div>  
  
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Hassan McKusick</h3>
				<i>Web Developer</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/hassan_mckusick.jpg" height="120" alt="Hassan McKusick"/> 
				</div>
				<div class="col-md-12 center">
					<b>Undergraduate Student</b> <br /> 
					B.S. Computer Science, 2015<br />
					<br/><br/><br />
				</div>
      </div>
    </div>
  </div>  
  
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Jeremy Poulin</h3>
				<i>Web Developer, Data Visualization</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/jeremy_poulin.jpg" height="120" alt="Jeremy Poulin"/> 
				</div>
				<div class="col-md-12 center">
					<b>Undergraduate Student</b> <br /> 
					B.S. Computer Science, 2015<br />
					Email: jpoulin AT cs.uml.edu <br /> 
					<a href="http://www.linkedin.com/in/jaypoulz/">http://www.linkedin.com/in/jaypoulz/</a>
					<br/><br/>
				</div>
      </div>
    </div>
  </div>  
  
	<div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Nick VerVoort</h3>
				<i>Java API, Android Developer</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/nick_vervoort.jpg" height="120" alt="Nick VerVoort"/> 
				</div>
				<div class="col-md-12 center">
					<b>Undergraduate Student</b> <br /> 
					B.S. Computer Science, 2014<br />
					<br/><br/><br />
				</div>
      </div>
    </div>
  </div>  
  
	<div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Michael Stowell</h3>
				<i>Android and iOS Developer</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/michael_stowell.jpg" height="120" alt="Michael Stowell"/> 
				</div>
				<div class="col-md-12 center">
					<b>Undergraduate Student</b> <br /> 
					  B.S. Computer Science, 2015<br/>
					<br/><br/><br/>
				</div>
      </div>
    </div>
  </div>  
  
	<div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Rajia Abdelaziz</h3>
				<i>Mobile App Developer</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/rajia_abdelaziz.jpg" height="120" alt="Rajia Abdelaziz"/> 
				</div>
				<div class="col-md-12 center">
					<b>Undergraduate Student</b> <br /> 
						B.S. Electrical Engineering, 2016 <br />
						B.S. Computer Science, 2016 <br />
					<br/><br/>
				</div>
      </div>
    </div>
  </div>  
  
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Virinchi Balabhadrapatruni</h3>
				<i>Mobile App Developer</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/virinchi_balab.jpg" height="120" alt="Virinchi Balabhadrapatruni"/> 
				</div>
				<div class="col-md-12 center">
					<b>Undergraduate Student</b> <br /> 
						B.S. Computer Science, 2016 <br />
					<br/><br/>
				</div>
      </div>
    </div>
  </div> 
  
  <div class="col-md-4">
    <div class=" panel panel-default">
      <div class="panel-heading">
				<h3>Bobby Donald</h3>
				<i>Android Development</i>
      </div>
      <div class="panel-body">
				<div class="col-md-12 center">
					<img src="http://www.cs.uml.edu/~jdalphon/isense_headshots/bobby_donald.jpg" height="120" alt="Bobby Donald"/> 
				</div>
				<div class="col-md-12 center">
					<b>Undergraduate Student</b> <br /> 
					B.S. Computer Science, 2016<br />
					<br/><br/>
				</div>
      </div>
    </div>
  </div>  
</div>
