<div class="row">
  <div class="span12">
    <p>Are you interested in working with us? If so, please contact one of the people listed below.</p><br />
    <div class="row">
      <div class="span1">
        <img src="https://isenseimgs.s3.amazonaws.com/103e4f32-462d-43a3-8aba-5c3d163afce0.jpeg" width="100px"/>
      </div>  
      <div class="span11">
	Fred Martin <br />
	Professor, University of Massachusetts Lowell. <br />
	Email: <a href="mailto:fredm@cs.uml.edu">fredm@cs.uml.edu</a>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="span1">
        <img src="https://isenseimgs.s3.amazonaws.com/b8be9179-862b-4947-81d3-4e6df20190e8.gif" width="100px"/> 
      </div>
      <div class="span11">
        Ivan Rudnicki <br />
        Co-founder, Machine Science Inc. <br />
        Email: <a href="mailto:ivan@machinescience.org">ivan@machinescience.org</a>
      </div>
    </div>
  </div>
</div>