<div class="row">
  
  <div class="span3">
    <div class="hero-unit sub-hero">
      <h3>Step 1: Create an Experiment</h3>
      <p> What is an experiment?</p>
    </div>
  </div>
  
  <div class="span3">
    <div class="hero-unit sub-hero">
      <h3>Step 2: Collect Data</h3>
      <p>What is data?</p>
    </div>
  </div>
  
  <div class="span3">
    <div class="hero-unit sub-hero">
      <h3>Step 3: Explore</h3>
      <p>Look at the crazy vises we build.</p>
    </div>
  </div>
  
  <div class="span3">
    <div class="hero-unit sub-hero">
      <h3>Step 4: Save a Vis</h3>
      <p>Save one of those crazy vis things!</p>
    </div>
  </div>
  
</div>

<div class="row">
  
  <div class="span8">
    <div class="row">
      <div class="span8">
        <h1>Lorem Ipsum</h1>
      </div>
    </div>
    <div class="row">
      <div class="span8">
        <div class="content-block">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium rhoncus nibh vel varius. Proin molestie sollicitudin augue, nec venenatis dolor auctor sed. Ut eget aliquam dui. Ut urna arcu, ullamcorper et interdum at, adipiscing a est. Curabitur erat est, aliquet et gravida at, hendrerit consequat ipsum. Suspendisse malesuada nisl quis felis vestibulum ut interdum lacus ornare. Sed non turpis velit, quis fermentum mauris. Mauris in nunc metus. Praesent at mauris in leo tempor malesuada. Aliquam libero lorem, placerat vel volutpat in, commodo a erat. Praesent a nibh aliquam nisl lacinia sagittis in adipiscing libero. Etiam non massa nulla. Morbi quis eros a augue venenatis eleifend vel sed dolor. Sed ac lectus ac dolor mattis vulputate.</p>

          <p>Vivamus dictum leo non velit vulputate suscipit at in eros. Ut lorem nibh, suscipit a auctor adipiscing, lobortis et felis. Vestibulum id risus eu tortor sodales posuere. Cras nec luctus sem. Sed tristique placerat malesuada. Vivamus at tellus a tellus luctus placerat at ut turpis. Sed hendrerit pretium magna quis bibendum. Quisque vel nunc dolor.</p>

          <p>Sed id neque enim, sit amet gravida eros. Sed massa purus, consectetur id semper et, vestibulum id nisi. Morbi bibendum sollicitudin neque eu luctus. Fusce id risus vitae orci pharetra gravida sit amet et magna. Maecenas metus mi, tristique et vestibulum non, tincidunt venenatis eros. Fusce enim nulla, auctor malesuada malesuada ac, rutrum sed neque. In hac habitasse platea dictumst. Mauris sed massa urna, at aliquet nunc. Suspendisse feugiat vestibulum nisl ut accumsan. Nullam laoreet posuere tempor. Curabitur neque elit, varius in commodo lobortis, semper non tellus. Donec fermentum justo sed risus facilisis tristique. Sed a tellus nec massa tempus malesuada sit amet faucibus diam. Ut in magna arcu, quis pulvinar nibh.</p>

          <p>Morbi bibendum purus facilisis tellus gravida mollis. Phasellus interdum, odio quis feugiat sagittis, mauris erat porta quam, sed posuere ligula sapien eget nisi. Sed sagittis libero et sapien pellentesque scelerisque. Donec gravida porttitor nisi vitae consectetur. Vivamus convallis ligula vitae tellus cursus at fringilla metus viverra. Sed sed lacus consequat eros egestas facilisis. Phasellus magna massa, aliquet non tempus ut, eleifend sit amet nisi. Ut eu sem eros. Pellentesque varius est nec nibh elementum hendrerit. Vestibulum nulla est, commodo id auctor congue, pellentesque a felis. Nullam nec cursus nulla. Cras blandit lectus quis mi tincidunt vestibulum. Nullam tincidunt, enim nec varius bibendum, leo turpis aliquam quam, in hendrerit lorem purus sit amet neque. Nam congue elit id augue tempus nec auctor erat semper. Donec ac augue sapien, quis lacinia ipsum.</p>

          <p>Nunc vehicula tellus et purus fermentum vestibulum. Duis commodo commodo viverra. Vestibulum felis odio, vehicula non ultrices eu, posuere id ipsum. Fusce pulvinar purus nec nulla pretium feugiat eget sit amet orci. Phasellus vel velit eget nibh tempus porttitor vitae at odio. Proin sit amet risus felis. Phasellus nulla magna, sollicitudin eget ornare quis, scelerisque eget nunc. Quisque dictum fermentum arcu sed consectetur. Fusce accumsan magna nibh, at scelerisque est. Nullam massa nunc, rutrum sit amet pharetra ac, interdum ut felis. Mauris eleifend urna at purus dapibus hendrerit. Integer fermentum tristique ipsum, vitae commodo velit euismod eget. Proin vestibulum turpis et lectus malesuada tempor ullamcorper in dui.</p>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium rhoncus nibh vel varius. Proin molestie sollicitudin augue, nec venenatis dolor auctor sed. Ut eget aliquam dui. Ut urna arcu, ullamcorper et interdum at, adipiscing a est. Curabitur erat est, aliquet et gravida at, hendrerit consequat ipsum. Suspendisse malesuada nisl quis felis vestibulum ut interdum lacus ornare. Sed non turpis velit, quis fermentum mauris. Mauris in nunc metus. Praesent at mauris in leo tempor malesuada. Aliquam libero lorem, placerat vel volutpat in, commodo a erat. Praesent a nibh aliquam nisl lacinia sagittis in adipiscing libero. Etiam non massa nulla. Morbi quis eros a augue venenatis eleifend vel sed dolor. Sed ac lectus ac dolor mattis vulputate.</p>

          <p>Vivamus dictum leo non velit vulputate suscipit at in eros. Ut lorem nibh, suscipit a auctor adipiscing, lobortis et felis. Vestibulum id risus eu tortor sodales posuere. Cras nec luctus sem. Sed tristique placerat malesuada. Vivamus at tellus a tellus luctus placerat at ut turpis. Sed hendrerit pretium magna quis bibendum. Quisque vel nunc dolor.</p>

          <p>Sed id neque enim, sit amet gravida eros. Sed massa purus, consectetur id semper et, vestibulum id nisi. Morbi bibendum sollicitudin neque eu luctus. Fusce id risus vitae orci pharetra gravida sit amet et magna. Maecenas metus mi, tristique et vestibulum non, tincidunt venenatis eros. Fusce enim nulla, auctor malesuada malesuada ac, rutrum sed neque. In hac habitasse platea dictumst. Mauris sed massa urna, at aliquet nunc. Suspendisse feugiat vestibulum nisl ut accumsan. Nullam laoreet posuere tempor. Curabitur neque elit, varius in commodo lobortis, semper non tellus. Donec fermentum justo sed risus facilisis tristique. Sed a tellus nec massa tempus malesuada sit amet faucibus diam. Ut in magna arcu, quis pulvinar nibh.</p>

          <p>Morbi bibendum purus facilisis tellus gravida mollis. Phasellus interdum, odio quis feugiat sagittis, mauris erat porta quam, sed posuere ligula sapien eget nisi. Sed sagittis libero et sapien pellentesque scelerisque. Donec gravida porttitor nisi vitae consectetur. Vivamus convallis ligula vitae tellus cursus at fringilla metus viverra. Sed sed lacus consequat eros egestas facilisis. Phasellus magna massa, aliquet non tempus ut, eleifend sit amet nisi. Ut eu sem eros. Pellentesque varius est nec nibh elementum hendrerit. Vestibulum nulla est, commodo id auctor congue, pellentesque a felis. Nullam nec cursus nulla. Cras blandit lectus quis mi tincidunt vestibulum. Nullam tincidunt, enim nec varius bibendum, leo turpis aliquam quam, in hendrerit lorem purus sit amet neque. Nam congue elit id augue tempus nec auctor erat semper. Donec ac augue sapien, quis lacinia ipsum.</p>

          <p>Nunc vehicula tellus et purus fermentum vestibulum. Duis commodo commodo viverra. Vestibulum felis odio, vehicula non ultrices eu, posuere id ipsum. Fusce pulvinar purus nec nulla pretium feugiat eget sit amet orci. Phasellus vel velit eget nibh tempus porttitor vitae at odio. Proin sit amet risus felis. Phasellus nulla magna, sollicitudin eget ornare quis, scelerisque eget nunc. Quisque dictum fermentum arcu sed consectetur. Fusce accumsan magna nibh, at scelerisque est. Nullam massa nunc, rutrum sit amet pharetra ac, interdum ut felis. Mauris eleifend urna at purus dapibus hendrerit. Integer fermentum tristique ipsum, vitae commodo velit euismod eget. Proin vestibulum turpis et lectus malesuada tempor ullamcorper in dui.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="span4">
    <div id="experiments">
        <%=render 'display_experiments'%>
    </div>
  </div>
  
</div>