<div class="row">
  <%= render "tutorials/display_tutorials", :id => "1"%>
  <%= render "tutorials/display_tutorials", :id => "2"%>
  <%= render "tutorials/display_tutorials", :id => "3"%>
  <%= render "tutorials/display_tutorials", :id => "4"%>
</div>
<hr>
<div class="row">
  <div class="span4"><div class="hero-unit" style="height:100px;">Project 1</div>
  </div>  
  
  <div class="span4"><div class="hero-unit" style="height:100px;">Project 2</div>
  </div>
  
  <div class="span4"><div class="hero-unit" style="height:100px;">Project 3</div>
  </div>
</div>
<div class="row">
  <div class="span2"><div class="hero-unit" style="height:100px;">Create Project</div></div>  
  
  <div class="span8">
    <div class="hero-unit" style="height:100px;">Saved Visualization 1</div>
  </div>
  
  <div class="span2"><div class="hero-unit" style="height:100px;">Upload Data</div></div>
</div>
<div class="row">
  <div class="span4"><div class="hero-unit" style="height:100px;">Project 4</div>
  </div>  
  
  <div class="span4"><div class="hero-unit" style="height:100px;">Project 5</div>
  </div>
  
  <div class="span4"><div class="hero-unit" style="height:100px;">Project 6</div>
  </div>
</div>