<div class="row">
  <div class="col-xs-12">
	<p class="mobile-header"><span class="text-success featured-list">Collect </span> experimental data. </p>
    <img src="<%= image_path 'create.jpg' %>" class="story-image">
  	<!--<p class="featurette-text"><span class="text-success featured-list">Collect </span> experimental data. </p>-->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="mobile-header"><span class="text-info featured-list">Share </span> data with the world. </p>
  	<img src="<%= image_path 'Share.jpg' %>" class="story-image">
  	<!--<p class="featurette-text"><span class="text-info featured-list">Share </span> data with the world. </p>-->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  	<p class="mobile-header"><span class="text-primary featured-list">Visualize </span>data with robust analysis tools.</p>
  	<img src="<%= image_path 'Visualize.png' %>" class="story-image">
  	<!--<p class="featurette-text"><span class="text-primary featured-list">Visualize </span>data with robust analysis tools.</p>-->
  </div>
</div>
<hr class="featurette-divider" />
<div class="row">
  <div class="col-xs-12">
    <p class="mobile-text">
      iSENSE is a data collection and visualization tool for teachers and students to engage and interact with data in meaningful new ways.
    </p>
    <p class="featurette-text"> iSENSE is an easy and convenient platform for users to: </p> 
  </div>
</div>