<div class="row">
  <%= form_for(@tutorial) do |f| %>
    <div class="col-md-12">
      <div class="form-group">
        <strong>Title: </strong><%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="col-xs-12" style="margin-top: 20px">
        Category: 
        <%= f.select(:category, options_for_select([['Getting Started','Getting Started'], ['Working With Data', 'Working With Data'], ['Visualizations', 'Visualizations']]), class: "form-control") %>
      </div>
      <div class="clear"><br></div>
      <div class="actions">
        <%= f.submit "Submit",class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>