<div class="row">
  <%= form_for(@tutorial) do |f| %>
    <div class="col-md-12">
      <div class="form-group">
        <strong>Title: </strong><%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="checkbox">
        <div class="checkbox-inner">
          <%= f.check_box :featured %> <strong>Featured</strong> 
        </div>
        <span class="help-block">Featuring a tutorial makes it possible to be in the drop-down for tutorials on the navbar. The first five featured (alphabetically sorted) tutorials are shown in the list.</span>
      </div>  
      <div class="clear"><br></div>
      <div class="actions">
        <%= f.submit "Submit",class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>