
<% if is_admin? %>
  <div class="row">
    <%= form_for @new_tutorial do |ff| %>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <%= ff.text_field :title, placeholder: "Title for Tutorial", class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="form-group">
          <button type="submit" class="btn btn-success form-control">Create Tutorial</button>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <% @tutorials.each do |tut| %>
    <%= render 'shared/article_box', {image_id: tut.featured_media_id, path: tutorial_path(tut), title: tut.name,
      brief: '', content: tut.content, date: tut.created_at.strftime("%B %d %Y"), width: 6} %>
  <% end %>  
</div>

<div class="text-center">
  <%= will_paginate @tutorials, renderer: BootstrapPagination::Rails,
      inner_window: 1, outer_window: 0, previous_label: "<<",
      next_label: ">>" %>
</div>