<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span12">
    <h1 id="title_span"><%= tutorial_edit_menu_helper %></h1>
  </div>
  
  <div class="span12">
  <%= tutorial_redactor_helper (can_edit? @tutorial) %>
  </div>
</div>

