<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span12">
    <h1><%= tutorial_edit_helper 'title', true %></h1>
  </div>
  
  <div class="span12">
    <%= tutorial_redactor_helper true %>
  </div>
</div>

