<% align_style = "text-align: #{local_assigns[:align]};" %>
<% puts params = local_assigns[:params] %>
<% template_checked = "checked" if !params['templates_only'].nil? %>
<% curated_checked = "checked" if !params['curated_only'].nil? %>
<% featured_checked = "checked" if !params['featured_only'].nil? %>
<% has_data_checked = "checked" if !params['has_data'].nil? %>
<label class="btn btn-primary template-check"
       title="Projects that can be cloned and repopulated with new data"
       style="<%= align_style %>">
  <input type="checkbox" value="yes" checked="<% template_checked %>" />
  Templates
</label>
<label class="btn btn-primary curated-check"
       title="Projects populated with professionally collected data"
       style="<%= align_style %>">
  <input type="checkbox" value="yes" checked="<% curated_checked %>" />
  Curated
</label>
<label class="btn btn-primary featured-check"
       title="Projects that have been featured by the iSENSE team"
       style="<%= align_style %>">
  <input type="checkbox" value="yes" checked="<% featured_checked %>" />
  Featured
</label>
<label class="btn btn-primary has-data-check"
       title="Non-empty projects populated with data"
       style="<%= align_style %>">
  <input type="checkbox" value="yes" checked="<% has_data_checked %>" />
  Has Data
</label>
