
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p><%= link_to "Back to Project", @project, class: "btn btn-default" %></p>
  </div>
</div>

<!-- not admin section -->
<% if can_edit? @project %>
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
<% else %>
  You are not authorized to view this page.
<% end %>

