<div class="row">
  <div class="col-lg-12">
    <div class="row search_row">
      <%=form_tag projects_path, method: 'get', id: 'projects_search' do%>
      
        <!-- hidden input for pagination -->
        <input type="text" id="hidden_pagination" name="page" value="1" style="display: none;" />

        <div class="isotope-top">
          <div class="col-lg-12">
            <h1>Projects</h1>
          </div>
          <div class="col-lg-4">
            <select name="sort" class="projects_sort_select form-control">
              <option value="updated_at DESC">Modified (newest first)</option>
              <option value="updated_at ASC">Modified (oldest first)</option>
              <option value="created_at DESC">Created (newest first)</option>
              <option value="created_at ASC">Created (oldest first)</option>
              <option value="RATING">Rating</option>
            </select>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" id="search" name="search" type="text" x-webkit-speech>
          </div>
          <div class="col-lg-2">
            <%= submit_tag "Search", name: nil, class:'btn btn-default'%>
          </div>        
          <div class="clear"></div>
          <div class="col-lg-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="templates_only" id="template_checkbox"> Only Templates
              </label>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="curated_only" id="curated_checkbox"> Only Curated
              </label>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<% if @cur_user.try(:id) %>
  <div class="row">
    <div class='col-lg-12 center'>
      <div id="addProjectButton">
        <button class="btn btn-success"><h4>Create Project</h4></button>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div id="projects" class="col-lg-12 isotope_container" >
    <div class="isotope_pane">
    </div>
  </div>
</div>

<div class="row" style="padding-top: 10px;">
  <div class="col-lg-12">
    <div class="well text-center" id="load_projects">
      <h3 class="muted">Loading More <img src="/assets/spinner.gif" /></h3>
    </div>
  </div>
</div>
