<% if @cur_user != nil %>
  <script>
    window.logged_in = true;
  </script>
<%end%>

<div class="row">

  <div class="span12">
    <div class="row">
      <div class="span12">
        <%=form_tag projects_path, method: 'get', id: 'projects_search', class:'navbar-search' do%>

          <!-- hidden input for pagination -->
          <input type="text" id="hidden_pagination" name="page" value="1" style="display: none;" />

          <div class="isotope-top">
            <h1>Projects</h1>
            <div class="order_selector">
              <select name="sort" class="projects_sort_select">
                <option value="DESC">Newest First</option>
                <option value="ASC">Oldest First</option>
                <option value="RATING">Rating</option>
              </select>
            </div>
            <div class="search_box">
              <input class="search-query" id="search" name="search" type="text" x-webkit-speech></div>
            <div class="submit_button">
              <%= submit_tag "Search", name: nil, class:'btn'%>
            </div>
            <div class="clear"></div>
            <div><input type="checkbox" name="templates_only" id="template_checkbox" style="margin-bottom: 6px;"> Only Templates</div>
            <div class="clear"></div>
          </div>
        <%end%>
      </div>
    </div>
    <div class="row">
      <div id="projects" class="span12 isotope_container" >
        <div class="isotope_pane">
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 10px;">
      <div class="span12">
        <div class="well text-center" id="load_projects">
          <h3 class="muted">Loading More <img src="/assets/spinner.gif" /></h3>
        </div>
      </div>
    </div>
  </div>

</div>
