<div class="row">
  <div class="span12">
    <%= @googleLink %>
  </div>
</div>

<div id="tablecontent"></div>

<br />

<!-- <script type="text/javascript">

$(document).ready(function(){

  var x = JSON.parse('<%= raw @dataObject.to_json %>');

});

</script> -->