<div class="row">
	<div class="col-md-12">
		<%= form_for(@project) do |f| %>
			<div class="form-group">
				<h2><%= label_tag(:name, "What would you like to name your project?") %></h2>  
				<%=f.text_field :title, class: "form-control", placeholder: "My Awesome Experiment"%>
			</div>
      <a class="btn btn-danger" href="/projects">Cancel</a>
			<%= button_tag 'Create', type: 'submit', class: 'btn btn-success'%>
		<% end %>
	</div>
</div> 