<div class="span3 offset1">
    <div class="row">
        <h4 style="text-align:center">Featured Experiments</h4>
    </div>

    <% @featured_3.all.each do |f|%>
        <div class="row">
            <div class="hero-unit">
                <h5><%=link_to f.title, experiment_path(f)%></h5>
                <% if f.media_objects.length > 0%>
                    <image src="<%=f.media_objects[0].src%>">
                <%else%>
                    Owner: <%=link_to f.owner.name, user_path(f)%> <br>
                    Sessions: <%=f.experiment_sessions.count%>
                <%end%>
            </div>
        </div>
    <% end %>
</div>