<!-- This file is no longer used and should be removed.  -->

<%= form_for(@experiment) do |f| %>
  <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <br>
  <h2>Would you like to create a new experiment?</h2>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
