<script type="text/javascript">

  $(document).ready(function(){
    
    $('#upload_csv').click(function(){
    
      $('#csv_file_input').click();
      
      return false;
    
    });
    
      $('#csv_file_input').change(function(){
      
        $('#csv_file_form').submit();
      
      });
  
  });

</script>

<div class="row">
  <div class="span4 center">
    <a id="manual_entry" href="manualEntry"><img style="height: 200px;" src="/assets/manual.svg" /><br />
    Manual Entry</a>
  </div>
  <div class="span4 center">
    <a id="upload_csv" href=""><img style="height: 200px;" src="/assets/upload.svg" /><br />
    Upload CSV</a>
  </div>
  <div class="span4 center">
    <a id="google_doc" href=""><img style="height: 200px;" src="/assets/google.svg" /><br />
    Google Doc</a>
  </div>
</div>

<div id="hidden_form_div" style="display:none;">
  
  <%= form_tag 'uploadCSV', multipart: true, id: 'csv_file_form' do %>
    <%= file_field_tag 'csv', id: 'csv_file_input' %>
  <% end %>
  
</div>
