<div class="row">
    <div class="span12">
        <h1>Experiments</h1>
        <div class="dropdown">
        <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#">
            Sort Order
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li class="dropdown-item"><%= link_to "Newest First", sort: "DESC"%></li>
            <li class="dropdown-item"><%= link_to "Oldest First", sort: "ASC"%></li>
        </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="span8" style="background-color: #ccc;">
        <div id="experiments">
            <%=render 'display_experiments'%>
        </div>
    </div>

    <div class="span3 offset1">
        <div class="row">
            <h4 style="text-align:center">Featured Experiments</h4>
        </div>
        <div class="row">
            <div class="hero-unit">
                <h5>Experiment 1</h5>
                Some featured experiment 
            </div>
        </div>
        <div class="row">
            <div class="hero-unit">
                <h5>Experiment 2</h5>
                Some other featured experiment 
            </div>
        </div>
        <div class="row">
            <div class="hero-unit">
                <h5>Experiment 3</h5>
                Some third featured experiment 
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <%= link_to 'New Experiment', new_experiment_path %>
    </div>
</div>
