<div class="row">
  <div class="span8" >
    <div id="experiments">
      <%=render 'display_experiments'%>
    </div>
  </div>

  <div class="span3 offset1">
    <div class="row">
      <h5 class="center">Create Experiment</h5>
      <div class="well center">
        <%if @cur_user.try(:id)%>
        <a class="add_session_link" href="/experiments/new"><img src="/assets/add_content.png" class="img-rounded"></a>
        <%end%>
      </div>
    </div>
  </div>
  <%=render 'featured_experiments'%>
</div>

