<div>
<p>
  <b><h4>Subject: </h4></b>
  <%= @subscriber_email.subject %>
<p>
</div>
<div>
<p>
  <b><h4>Message: </h4></b>
  <%= simple_format(@subscriber_email.message)%>
</p>
</div>
<div>
<p>
  <b><h4>Created at: </h4></b>
  <%= @subscriber_email.created_at %>
</p>
</div>
