# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
$ ->
        
  $("#users_search").submit ->
      $.ajax
        url: this.action
        data: $(this).serialize()
        success: (data, textStatus)->

          $('#users').isotope('remove', $('.item'))

          for object in data
            do (object) ->
              newItem =   "<div class='item'>"
                
              newItem +=  "<h4 style='margin-top:0px;'><a href='#{object.ownerPath}'>#{object.username}</a>"
              
              newItem +=  "</h4><b>First Name: </b><a href='#{object.ownerPath}'>#{object.ownerName}</a><br />"

              newItem += "<img src='#{object.userGravatar}'> </img>"

              newItem +=  "</div>"
            
              newItem = $(newItem)
            
              $('#users').append(newItem).isotope('insert', newItem)
          
          $(window).resize()
          
        dataType: "json"
      return false
  
  $(".users_sort_select").change ->
    $("#users_search").submit()
      
  $(".contribution_sort_select").change ->
    $("#contribution_search").submit()
    
  $("#contribution_search").submit ->
    $.get("/users/#{$(this).attr('name')}", $(this).serialize(), null, "script")
    return false
      
  $(".contribution_type_checkbox").click ->
    $("#contribution_search").submit()


  ### Get isotope up and running ###

  numCols = 1

  while $('#users').width()/numCols>200
    numCols++

  $('#users').imagesLoaded ->
    $('.item').width(($('#users').width()/numCols)-35)
    $('#experiments').isotope
      itemSelector : '.item'
      layoutMode : 'masonry'
      masonry:
        columnWidth: $('#users').width()/numCols

  $("#users_search").submit()

window.reLayout = ->

  numCols = 1

  while $('#users').width()/numCols>200
    numCols++

  $('#users').imagesLoaded ->

    $('.item').width(($('#users').width()/numCols)-35)

    $('#users').isotope
      itemSelector : '.item'
      layoutMode : 'masonry'
      masonry:
        columnWidth: $('#users').width()/numCols
  true

$(window).resize reLayout