
<script>
/*
window.onload = function() {
  editableGrid = new EditableGrid("DataGrid"); 
  editableGrid.tableLoaded = function() { this.renderGrid("tablecontent", "table"); };
  editableGrid.loadJSON("/experiment_sessions/1/getData.json");
}
*/
</script>

<div id="tablecontent"></div>

