<div id="selector">
  <div class="row">
    <div class="span4 center">
      <img id="upload-button" src="/assets/upload.svg" width="150px">
    </div>
    <div class="span4 center">
      <img id="manual-button" src="/assets/manual.svg" width="150px">
    </div>
    <div  class="span4 center">
      <img id="google-button" src="/assets/google.svg" width="150px">
    </div>
  </div>
  <div class="row">
    <div class="span4 center">
      <h4>Upload CSV</h4>
    </div>
    <div class="span4 center">
      <h4>Manual Entry</h4>
    </div>
    <div class="span4 center">
      <h4>Google Spreadformsheet!</h4>
    </div>
  </div>
</div>

<div id="upload-csv" style="display: none;">
  <div class="row">
    <div class="span12 center">
      <%= form_for @experiment_session, :url => { :action => "postCSV" }, :html => { :multipart => true, :class => "file_upload", :'data-type' => 'json' }, :remote => true do |f| %>
      <div class="field">
        <%= f.file_field :file %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id="manual-entry" style="display: none;">
  <div class="row">

  </div>
</div>

<div id="google-spreadformsheet" style="display: none;">
  <div class="row">

  </div>
</div>