<p id="notice"><%= notice %></p>

<% if (@cur_user.try(:id) != @experiment_session.user_id) and (@experiment_session.content.blank?) %>
  <%= render 'show_no_content' %>
<% else %>
  <%= render 'show_default' %>
<% end %>
