/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require better_colorpicker
 *= require better_datetimepicker
 *= require font-awesome
 *= require summernote
 *= require jquery-ui
 *= require jqgrid-jquery-rails
 *= require slickgrid/slick.grid.css
 *= require_tree .
 *= require_self
 *= require mdl/material.min.css
 */

$navbar-default-bg: #111133;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: #DDDDDD;
$table-bg-accent: #E8E8E8;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap3-switch.css.scss";

.alert {
  margin-bottom: 0px;
  word-wrap: break-word;
}

.badges {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px
}

body {
  background-color: white;
}

.box-content {
  border: 1px solid #b5b5b5;
  border-top: 0px;
  padding: 20px;
  margin-bottom: 1ex;
  overflow: auto;
}

.box-header {
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
  border: 1px solid #b5b5b5;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1ex;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

#content-partial{
  .summernote-controls{
    text-align: right;
    margin-top: 1em;
  }
  overflow:hidden !important;
  iframe{
    width: 100%;
    height: 390px;
  }
}

#content-viewer {
  max-height: 400px;
  overflow: auto;
  word-wrap: break-word;
  img{
    width: 100%;
    height: auto;
  }
  #add-content-image{
    img{
      height: 250px !important;
      width: 250px !important;
    }
  }
}

.circle-img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.create-button {
  margin-bottom: 2ex;
}

.data_set_delete, .delete a, .media_delete, .viz_delete {
  color: red;
}

.info_edit_link {
  position: relative;
  top: -2px;
  font-size: 14px;
  vertical-align: middle;
}

.info_val {
  font-weight: bold;
}

.flash {
  transition: background-color .5s ease;
}

.footer {
  font-size: smaller;

  .category{
    border-bottom: 1px solid gray;
  }

  .parts{
    text-align: left;
  }
}

#github_account, #no_github_account {
  white-space: normal;
}

.hidden-form {
  display: none;
}

.inline-block {
  display: inline-block;
}

.project-card-tags {
  min-height: 14%;
  position: relative;
}

.tag-badge {
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: rgb(68,138,255);
  border-radius: 10px;
  padding: 3px 7px;
  margin: 2px;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tag-badge:hover {
  background-color: #235283;
  color: white;
  text-decoration: none;
}

.expanded {
  min-height: 50% !important;
  padding-bottom: 20px !important;
}

.tag-expando-button {
  float: right;
}

.tag-collapse-button {
  position: absolute;
  right: 8px;
  bottom: 7px;
  display: none;
}

.tag-toggle-button {
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #777;
  border-radius: 10px;
  padding: 3px 7px;
  margin: 2px;
}

.tag-toggle-button:hover {
  background-color: #aaa
}

.item {
  background-color: #ddd;
  margin: auto;
  box-shadow: 2px 3px 1px grey;

  .badge {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
  }

  .item-desc {
    min-height: 88px;
    margin: 8px;
    font-size: 0.9em;
  }

  .item-desc.item-photo-desc {
    min-height: 30px;
  }

  .item-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120px;
    border-bottom: 1px solid gray;
  }

  .item-image.item-photo-image {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .item-title {
    font-size: 1.25em;
  }
}

.item-block {
  height: 250px;
  margin: 0;
  overflow: hidden;
}

.item-desc {
  margin-left: 5px;

  .article_page_content {
    height: 110px;
    overflow-y: hidden;
    position: relative;
  }
  .article_page_date {
    font-size:0.8em;
    margin-bottom: 20px;
  }
  .article_page_link {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    background: linear-gradient(rgba(221, 221, 211, 0),
      rgba(221, 221, 221, 1) 45%,
      rgba(221, 221, 221, 1));
  }
  .article_page_subtitle {
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
  }
  .article_page_title {
    white-space: nowrap;
    font-size: 18px;
  }
}

.item-image-link {
  float: left;
  display: block;
  width: 210px;
  height: 210px;
  background-size: cover;
  margin-right: 5px;
  background-position: center center;
}

.mainContent {
  padding-top: 20px;
  background-color: #fff;
  min-height: 100%;
}

.mdl-card {
  height: 295px !important;
  width: initial !important;
  margin-bottom: 2em;
  line-height: initial;
  background: #ddd !important;
}

  .mdl-card__title-text {
    a {
      margin: auto !important;
    }
  }

  .item-title {
    font-size: 1.25em;
  }

  .proj-info {
    height: 100px;
  }

  .mdl-card__title{
    background-size: cover !important;
    background-position: center;
    height: 130px;

    .mdl-card__title-text {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      -webkit-align-self: center !important; /* Safari 7.0+ */
      align-self: center !important;
    }
}

  .google-logo {
    height: 24px;
    width: 24px;
  }

  // Prevent underlining button links
  // Prevent mdl from making all buttons uppercase
  .mdl-button {
    text-transform: none !important;
    text-decoration: none !important;
  }

  .mdl-button--google-sign-in {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #4285F4 !important;
    color: white !important;
    padding: 0;
  }

  .mdl-button--green {
    background-color: #4CAF50 !important;
    color: white !important;
  }

  .mdl-button--green[disabled] {
    opacity: 0.65 !important;
  }

  .mdl-button--blue {
    background-color: #337ab7 !important;
    color: white !important;
  }

  .mdl-button--blue[disabled] {
    opacity: 0.65 !important;
  }

  .mdl-button--red {
    background-color: #d9534f !important;
    color: white !important;
  }

  .mdl-button--red[disabled] {
    opacity: 0.65 !important;
  }

  .mdl-button--light-blue {
    background-color: #5bc0de !important;
    color: white !important;
  }

  .mdl-button--light-blue[disabled] {
    opacity: 0.65 !important;
  }

.navbar {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  background-color: #113;
  height: 55px;

  // When screen is in width range, hide username on navbar and show "My Account"
  //    to avoid overflow and vice versa
  @media screen and (max-width: 991px) and (min-width: 768px)  {
    .variable-username {
      display: none;
    }
    .default-username {
      display: inline-block;
    }
  }

  @media screen and (min-width: 992px) {
    .variable-username {
      display: inline-block;
    }
    .default-username {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .variable-username {
      display: inline-block;
    }
    .default-username {
      display: none;
    }
  }

  .navbtn {
    .circle-img {
      position: relative;
      top: -5px;
      vertical-align: top;
    }
  }

  .navbtn a {
    font-size: 0.9em;
    padding-top: 20px;
  }

  .navbar-brand {
    padding-top: 8px;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.in {
    background-color: #113;
  }
} 

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #113;
}

.object-title {
  font-size: 24px;
}

#outer {
  min-height: 100%;
  margin: 0px;
  padding: 55px 0px 10px 0px;
}

.placeholder{
  font-size: 2em;
  color: gray;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.print {
  display: none;
}

.search-box {
  background-color: #ddd;
  box-shadow: 2px 3px 1px grey;
  padding: 2em;
  margin-bottom: 2ex;
}

.summary-text {
  font-size: 16px;
  color: #666;
}

#title-and-menu {
  vertical-align: middle;
}

.truncate {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wide-item {
  background-color: #ddd;
  box-shadow: 2px 3px 1px grey;
  min-height: 210px;
  margin-bottom: 1ex;

  .item-image {
    height: 210px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
  }
}

.word-wrap {
   word-wrap: break-word;
}

// put a red box around the recaptcha when verification fails
.recaptcha_error ~ .g-recaptcha div div {
  border: 2px solid red !important;
}
