/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require redactor.css
 */

html, body, div, span, applet, object, iframe,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p, blockquote, pre,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#header { background-color : #333;
          border-bottom: 1px solid black;
          height: 5em;
}

/*#home { padding-left: 40px; }*/

#home { display: inline-block; }

#home img { height: 5em; }

#nav { display: inline-block;
       width  : 50%;
}

#nav ul { padding-top : 1.6em;
}

#nav ul li { display       : inline-block;
             color         : #0376C6;
             font-size     : 1.2em;
             font-weight   : bold;
             padding-left: 10% ;
}

#nav ul li a {  height: 30px;
                text-align: center;
                vertical-align: center;
                text-decoration: none;
}

#nav ul li a img { height: 30px; width: 30px;}

.header_links { height:30px;
                position:relative;
                top: 5px;
}

#user { display: inline-block; 
        padding-top: 2em;
        padding-left: 10px;
}

#user a { padding-left: 10px; }

#controls { display: inline-block;
            padding-left: 80px;
}

#controls img { margin-top: 1em;
                height: 3em;
                width: 3em;
}

#controls form { display: inline-block;
                 padding-top: 1.5em;
                 padding-left: 20px;
}

#controls form input { width: 100px;
}

#content { width: 80%;
           min-height: 400px;
           margin-left: 10%;
           padding-bottom: 30px;
}

#page_title {
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#featured_six { padding-top: 30px; }

#featured_six p { padding: 10px;
                  color: blue;
                  font-size: 120%;
}

#content table { width: 100%;
                 text-align: center;
}

#footer { background-color: #DDD;
          text-align: center;
          padding-top: 40px;
          padding-bottom: 40px;
          border-top: 3px solid #CCC;
          border-bottom: 3px solid #CCC;
}

