/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require better_datetimepicker
 *= require font-awesome
 *= require summernote
 *= require jquery-ui
 *= require jqgrid-jquery-rails
 *= require slickgrid/slick.grid.css
 *= require_tree .
 *= require_self
 *= require mdl/material.min.css
 */

$navbar-default-bg: #111133;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: #DDDDDD;
$table-bg-accent: #E8E8E8;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap3-switch.css.scss";

.alert {
  margin-bottom: 0px;
  word-wrap: break-word;
}

.article_box {
  background: #c5e3ff;
}

.badges {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px
}

body {
  background-color: white;
}

.box-content {
  border: 1px solid #b5b5b5;
  border-top: 0px;
  padding: 20px;
  margin-bottom: 1ex;
  overflow: auto;
}

.box-header {
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
  border: 1px solid #b5b5b5;
  border-radius: 4px 4px 0px 0px;
  cursor: pointer;
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 1ex;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.clickable {
  cursor: pointer;
}

#content-partial{
  .summernote-controls{
    text-align: right;
    margin-top: 1em;
  }
  overflow:hidden !important;
  iframe{
    width: 100%;
    height: 390px;
  }
}

#content-viewer {
  max-height: 400px;
  overflow: auto;
  word-wrap: break-word;
  img{
    width: 100%;
    height: auto;
  }
  #add-content-image{
    img{
      height: 250px !important;
      width: 250px !important;
    }
  }
}

.circle-img {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.create-button {
  margin-bottom: 2ex;
}

.data_set_delete, .delete a, .media_delete, .viz_delete {
  color: red;
}

.info_edit_link {
  position: relative;
  top: -2px;
  font-size: 14px;
  vertical-align: middle;
}

.info_val {
  font-weight: bold;
}

.flash {
  transition: background-color .5s ease;
}

.footer {
  font-size: smaller;

  .category{
    border-bottom: 1px solid gray;
  }

  .parts{
    text-align: left;
  }
}

#github_account, #no_github_account {
  white-space: normal;
}

.hidden-form {
  display: none;
}

.inline-block {
  display: inline-block;
}

.project-card-tags {
  min-height: 14%;
  position: relative;
}

.tag-badge {
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: rgb(68,138,255);
  border-radius: 10px;
  padding: 3px 7px;
  margin: 2px;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  a {
    font-size: 12px;
    font-weight: bold;
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}

#tag-badge-add:hover{
  background-color: #3B9E3F;
  cursor: pointer;
}

.tag-badge:hover {
  background-color: #235283;
  color: white;
  text-decoration: none;
  .tag-badge-remove {
    display: inline;
  }
}

.tag-badge-remove {
  display: none;
}

.tag-badge-remove:hover {
   color: darkgray;
   cursor: pointer;
}

.tag-badge-green {
  background-color: #4CAF50;
}

.tag-badge-green:hover {
  background-color: #4CAF50;  
}

#tag-badge-form {
  display: none;
}

#tag-badge-textfield {
  background-color: #88D68B;
  color: black;
  padding-left: 5px;
  border: none;
  border-radius: 5px;
  height: 100%;
  width: 75px;
}

#tag-badge-confirm:hover {
  color:lightgray;
  cursor: pointer;
}

.expanded {
  min-height: 50% !important;
  padding-bottom: 20px !important;
}

.explore-item {
  box-shadow: 2px 3px 1px rgba(0,0,0,.25);
  border-radius: 5px;
  min-height: 310px;
  margin-bottom: 1ex;
  padding: 30px;
  text-align: center;
  color: white;

  a {
    color: white;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }

  img {
    height: 100px;
  }
}

#featured_vis {
  padding: 0;

  iframe {
    border-radius: 10px
  } 
}


#news {
  background: #bcd66f;
  background: -moz-linear-gradient(top,  #bcd66f 0%, #60c600 40%, #1f9100 100%);
  background: -webkit-linear-gradient(top,  #bcd66f 0%,#60c600 40%,#1f9100 100%);
  background: linear-gradient(to bottom,  #bcd66f 0%,#60c600 40%,#1f9100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd66f', endColorstr='#1f9100',GradientType=0 );
}

#stats {
  background: #1e5799;
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
}

#appvis {
  background: #e5af4b;
  background: -moz-radial-gradient(center, ellipse cover,  #e5af4b 0%, #d1a327 22%, #ff3232 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  #e5af4b 0%,#d1a327 22%,#ff3232 100%);
  background: radial-gradient(ellipse at center,  #e5af4b 0%,#d1a327 22%,#ff3232 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5af4b', endColorstr='#ff3232',GradientType=1 );
}

.tag-expando-button {
  float: right;
}

.tag-collapse-button {
  position: absolute;
  right: 8px;
  bottom: 7px;
  display: none;
}

.tag-toggle-button {
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background-color: #777;
  border-radius: 10px;
  padding: 3px 7px;
  margin: 2px;
}

.tag-toggle-button:hover {
  background-color: #aaa
}

.item {
  background-color: #ddd;
  margin: auto;

  .badge {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
  }

  .item-desc {
    min-height: 88px;
    margin: 8px;
    font-size: 0.9em;
  }

  .item-desc.item-photo-desc {
    min-height: 30px;
  }

  .item-image {
    background-color: #111133;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 120px;
  }

  .item-image.item-photo-image {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .item-image.item-photo-image:hover {
    height: 200px;
  }

  .item-title {
    font-size: 1.25em;
  }
}

.item-block {
  height: 250px;
  margin: 0;
  overflow: hidden;
}

.item-desc {
  margin-left: 5px;

  .article_page_content {
    height: 110px;
    overflow-y: hidden;
    position: relative;
    margin-top: 5px;
    background: white;
    border: 1px solid #c5e3ff;
    border-radius: 10px;
  }
  .article_page_content_text {
    padding: 5px;
  }
  .article_page_date {
    font-size: 1em;
    margin-bottom: 20px;
  }
  .article_page_link {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    background: linear-gradient(rgba(256,256,256,0), white 45%);
    border-radius: 0 0 10px 10px;
  }
  .article_page_subtitle {
    a {color: black; }
    font-size: 1.25em; // Larger than title b/c usually title is just version #
    white-space: nowrap;
    overflow: hidden;
  }
  .article_page_title {
    white-space: nowrap;
    font-size: 1em;
    margin-bottom: 20px;
  }
  .article_date_title {
    white-space: nowrap;
    overflow: hidden;
  }
  .article_date_title:hover {
    .article_page_title {
      white-space: normal;
      overflow: visible;
    }
  }
  .article_page_subtitle:hover {
      white-space: normal;
      overflow: visible;
  }
}

#latest-news-image {
  height: auto;
  width: 150px;
}

.item-image-link {
  float: left;
  display: block;
  width: 160px;
  height: 160px;
  background-size: cover;
  margin-right: 15px;
  background-position: center center;
  border: 1px solid #c5e3ff;
  border-radius: 10px;
}

#main_feature {
  border: 1px solid #c5e3ff;
  border-radius: 10px;
  background: #c5e3ff;
  background: -webkit-linear-gradient(bottom, #c5e3ff 0%, #ffffff 99%);
  background: -moz-linear-gradient(bottom, #c5e3ff 0%, #ffffff 99%);
  background: -o-linear-gradient(bottom, #c5e3ff 0%, #ffffff 99%);
  background: linear-gradient(to top, #c5e3ff 0%, #ffffff 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e3ff', endColorstr='#ffffff',GradientType=1 );
  box-shadow: 0px 3px 6px 0px rgba(200,200,200,1);
  margin-bottom: 32px;
}

.mainContent {
  padding-top: 20px;
  background-color: #fff;
  min-height: 100%;
}

.mdl-card {
  height: 295px !important;
  width: initial !important;
  border: 1px solid #c5e3ff;
  border-radius: 10px;
  margin-bottom: 2em;
  line-height: initial;
  background: #ddd !important;
  background: -moz-linear-gradient(bottom, #c5e3ff 0%, #ffffff 70%) !important;
  background: -webkit-linear-gradient(bottom, #c5e3ff 0%,#ffffff 70%) !important;
  background: linear-gradient(to top, #c5e3ff 0%,#ffffff 70%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e3ff', endColorstr='#ffffff',GradientType=1 ) !important;
}

  .mdl-card__title-text {
    a {
      margin: auto !important;
    }
  }

  .item-title {
    font-size: 1.25em;
  }

  .proj-info {
    height: 100px;
  }

  .mdl-card__title{
    background-size: cover !important;
    background-position: center;
    height: 130px;

    .mdl-card__title-text {
      text-align: center;
      width: 100%;
      margin: 0 auto;
      -webkit-align-self: center !important; /* Safari 7.0+ */
      align-self: center !important;
    }
}

  .google-logo {
    height: 24px;
    width: 24px;
  }

  // Prevent underlining button links
  // Prevent mdl from making all buttons uppercase
  .mdl-button {
    text-transform: none !important;
    text-decoration: none !important;
  }

  .used-as-label {
    background: white !important;
    * {
      color: black;
    }
  }

  .mdl-button--google-sign-in {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #4285F4 !important;
    color: white !important;
    padding: 0;
  }

  .mdl-button--green {
    background-color: #4CAF50 !important;
    color: white !important;
  }

  .mdl-button--green[disabled] {
    opacity: 0.65 !important;
  }

  .mdl-button--blue {
    background-color: #337ab7 !important;
    color: white !important;
  }

  .mdl-button--blue[disabled] {
    opacity: 0.65 !important;
  }

  .mdl-button--red {
    background-color: #d9534f !important;
    color: white !important;
  }

  .mdl-button--red[disabled] {
    opacity: 0.65 !important;
  }

  .mdl-button--light-blue {
    background-color: #5bc0de !important;
    color: white !important;
  }

  .mdl-button--light-blue[disabled] {
    opacity: 0.65 !important;
  }

.navbar {
  border-bottom: 1px solid black;
  margin-bottom: 0px;
  background-color: #113;
  height: 55px;

  // When screen is in width range, hide username on navbar and show "My Account"
  //    to avoid overflow and vice versa
  @media screen and (max-width: 991px) and (min-width: 768px)  {
    .variable-username {
      display: none;
    }
    .default-username {
      display: inline-block;
    }
  }

  @media screen and (min-width: 992px) {
    .variable-username {
      display: inline-block;
    }
    .default-username {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .variable-username {
      display: inline-block;
    }
    .default-username {
      display: none;
    }
  }

  .navbtn {
    .circle-img {
      position: relative;
      top: -5px;
      vertical-align: top;
    }
  }

  .navbtn a {
    font-size: 0.9em;
    padding-top: 20px;
  }

  .navbar-brand {
    padding-top: 8px;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.in {
    background-color: #113;
  }
} 

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #113;
}

.object-title {
  font-size: 24px;
}

#outer {
  min-height: 100%;
  margin: 0px;
  padding: 55px 0px 10px 0px;
}

.placeholder{
  font-size: 2em;
  color: gray;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.print {
  display: none;
}

.search-box {
  padding: 2em;
  margin-bottom: 2ex;
}

.summary-text {
  font-size: 16px;
  color: #666;
}

#title-and-menu {
  vertical-align: middle;
}

.truncate {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wide-item {
  margin-bottom: 2ex;
  padding: 15px;
  border-radius: 10px;

  .item-image {
    height: 210px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
  }
}

.word-wrap {
   word-wrap: break-word;
}

// put a red box around the recaptcha when verification fails
.recaptcha_error ~ .g-recaptcha div div {
  border: 2px solid red !important;
}

@media print {    
  .noPrint * {
    display: none !important;
  }
}
