/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require redactor.css
 *= require jquery.ui.all

 * require jquery.mobile

 *= require_self
 *= require highvis.css.scss
 *= require mobile_slider
 *= require jquery.dataTables.css
 *= require bootstrap-datetimepicker.less
 */

.word-break { word-wrap: break-word; }

body
{
  line-height:normal !important;
}

.truncate 
{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.twolines
{
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.4em;
}

div.info_text
{
  display: inline-block;
}

.full_width_edit div.info_text
{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  
  max-width: 90%;
}

.half_width_edit div.info_text
{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  
  max-width: 45%;
}

.invalid { background-color: #FF0000 }

.vcenter {
    vertical-align: middle;
}

#header
{
    background-color : #fff;
    padding: 0px 0px 5px 0px;
}

.modal
{
    position:fixed;
    width:300px;
    display: none;
    top:46px !important;
    left:50%;
    margin-left:-160px;
    padding: 10px;
    padding-top: 33px;
}

label[for=login_user], [for=login_password] {
  float: left;
}

input.login_field
{
    float: right;
}

button.login_button
{
    float: right;
    margin: 15px 0px 0px 10px;
}

button.cancel_login_button
{
    margin: 15px 0px 0px 0px;
}

div.clear
{
    clear: both;
}

#home
{
    display: inline-block;
}

#home img
{
    height: 5em;
}

.header_links
{
    height:30px;
    position:relative;
    top: 5px;
}

#user
{
    display: inline-block;
    padding: 30px 0px 0px 0px;
}

#user a
{
    padding-left: 10px;
}

#controls
{
    display: inline-block;
    padding-left: 80px;
}

#controls img
{
    margin-top: 1em;
    height: 3em;
    width: 3em;
}

#controls form
{
    display: inline-block;
    padding-top: 1.5em;
    padding-left: 20px;
}

#controls form input
{
    width: 100px;
}

#page_title
{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#content table
{
    width: 100%;
    text-align: center;
}

.info_edit_link, .menu_edit_link
{
  .info_edit_link
  {
    vertical-align: super;
  }  
  font-size: 0.75em;
}

.info_label
{
    font-size:1.2em;
    font-weight:bold;
    padding-right:5px;
}

.info_save_link, .menu_save_link
{
//     vertical-align: super;
//     font-size: 0.75em;
//     display: none;
}

input.info_edit_box
{
//     resize:none;
//     margin:0;
//     padding:0;
// /*     font-size:0.8em; */
//     height:auto;
//     border:0;
}

.info_text
{
	font-weight: bold;
}

.type_content
{
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-style: groove;
	  border-color: #ffffff;
	  border-width: 3px;
    background-color: #eee;
    padding: -1px;
    margin: 0px 0px;
}

.redactor_content
{
  padding: 5px !important;
  margin: 0px !important;
  word-wrap: break-word;
  font-size: 15px;
  min-height:200px !important;
/*   margin: 1px 1px 15px 1px; */
}

.icon_content
{
  margin-right: 5px;
}

.content_well
{
  margin-bottom: 20px;
}

.redactor_box, .redactor_box textarea {
  background-color: rgba(0,0,0,0) !important;
  border:none;
}

.redactor_editor, .redactor_editor:focus {
  background-color: rgba(0,0,0,0) !important;
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  outline:none;
}

li.dataset_tab
{
  margin: 0;
  font-size:14px;
  height:40px;
}

input.object_hidden_checkbox
{
 margin-top: 0px;
}

.dropdown-menu
{
  left: -54px;
}

/*.feed-even, .feed-odd
{
  border-right-width: 2px;
  border-left-width: 2px;
}*/

#title_bar
{
  position: fixed;
  border-bottom: 1px solid black;
  width:100%;
  background-color:#113;
  height:50px;
  z-index:2000;
  top:0px;
  left:0px;
  box-shadow: 0px 0px 10px black;
}

.mainContent
{
  background-color:#fff;
  box-shadow:0px 0px 20px grey;
  padding:18px 20px 18px 20px;
  min-height:100%;
}

.footer
{
  p
  {
    font-size: .9em;
    margin-bottom: 0px;
  }
  
  position:absolute;
  bottom:0;
  width:100%;
  height:35px;
}

.visible-tablet, .visible-desktop, .visible-phone
{  

  a.white, button.white{
   color: white; 
  }

  
  .pillbox{
    line-height:15px;
    font-size:15px;
    float:right;
    
    .phone{
      margin-right:10px;
      text-align:right;
    }
    .desktop-tablet{
      margin-right:-20px;
    }
  }
}

.isotope-top{
  .order_selector{
    width: 20%;
    float: left;
  }
  .search_box{
    width: 60%;
    float: left;
    margin-left: 20px; 
  }
  .submit_button{
    //width: 20%;
    float: left;
    margin-left: 40px;
  }
}

.isotope_container{
  overflow:visible;
  z-index:0;

  .isotop_pane{
    width:100%;
    height:100%;
    border:0px solid grey;
    overflow:visible;
    padding:10px;
  }
}

.btn
{
  font-size: 12px !important;
}

.mc-wide{
  background-color:#fff;
  box-shadow:0px 0px 20px grey;
  min-height:100%; 
  width:100%
}

.invalid
{
  background-color: rgba(255, 0, 0, 0.6) !important;
}

.popover-content
{
  font-size:12px;
  font-weight:normal;
}

.redactor_box textarea, .redactor_box textarea:focus
{
  color: #444;
}

.projectsCarousel
{
  display:inline-block;
  overflow-x: hidden;
  height:250px;
  
  @media screen and (min-width: 300px) {
    width: 170px !important;
  }
  @media screen and (min-width: 600px) {
    width: 400px !important;
  }
  @media screen and (min-width: 800px) {
    width: 600px !important;
  }
  @media screen and (min-width: 980px) {
    width: 800px !important;
  }
  @media screen and (min-width: 1200px) {
    width: 1000px !important;
  }
}

.carousel-cell
{
  width: 240px;
}

.carousel-arrow
{
  font-size: 20pt;
  text-align:center;
  color: white;
  background: #888;
  border-color: #fff;
  border-radius: 23px;
  width:35px;
  height:35px;
  display: inline-block;
  position: relative;
  top: -110px;
}
.carousel-arrow:hover
{
  color: white;
  background: #555;
}

.navbar-btn
{
  line-height:50px;
  display:inline-block;
  color: white;
  position: relative;
  @media screen and (max-width: 449px) {
    font-size: 7pt;
    padding: 1px 5px 0px 5px;
  }
  @media screen and (min-width: 450px) {
    font-size: 9pt;
    padding: 1px 7px 0px 7px;
  }
  @media screen and (min-width: 980px) {
    font-size: 11pt;
    padding: 1px 14px 0px 14px;
  }
   @media screen and (min-width: 1200px) {
    font-size: 12pt;
    padding: 1px 17px 0px 17px;
  }
}
.navbar-btn:hover
{
  color:white;
  background:#649ce5;
}

.navbar-btn:hover + .ddmenu
{
  display: block;
  position: relative;
  z-index: -10;
  @media screen and (max-width: 979px) {
    font-size: 9pt;
    left:284px;
  }
  @media screen and (min-width: 980px) {
    font-size: 10pt;
    left:401px;
  }
   @media screen and (min-width: 1200px) {
    font-size: 11pt;
    left:447px;
  }
}

.ddmenu
{
  display:none;
  background: white;
  color:black;
  box-shadow:0px 5px 20px black;
  width:250px;
  li
  { 
    width:100%;
    list-style-type: none;
    a
    {
      margin: 0px;
      color: black;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; 
      display: block;
      padding: 20px;
    }
    a:hover
    {
      color: white;
      background:#649ce5;
    }
  }
}
.ddmenu:hover
{
  display: block;
  position: relative;
  z-index: -10;
  @media screen and (max-width: 979px) {
    font-size: 9pt;
    left:284px;
  }
  @media screen and (min-width: 980px) {
    font-size: 10pt;
    left:401px;
  }
   @media screen and (min-width: 1200px) {
    font-size: 11pt;
    left:447px;
  }
}