/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require redactor.css
 *= require jquery.ui.all
 *= require_self
 *= require editablegrid-2.0.1.css
 *= require highvis.css
 *= require jquery.dataTables.css
 */

.vcenter {
    vertical-align: middle;
}

#header
{
    background-color : #fff;
    padding: 0px 0px 5px 0px;
}

div#login_box
{
    display: none;
}

input.login_field
{
    float: right;
}

button.login_button
{
    float: right;
    margin: 15px 0px 0px 0px;
}

button.cancel_login_button
{
    margin: 15px 0px 0px 0px;
}

div.clear
{
    clear: both;
}

#home
{
    display: inline-block;
}

#home img
{
    height: 5em;
}

.header_links
{
    height:30px;
    position:relative;
    top: 5px;
}

#user
{
    display: inline-block;
    padding: 30px 0px 0px 0px;
}

#user a
{
    padding-left: 10px;
}

#controls
{
    display: inline-block;
    padding-left: 80px;
}

#controls img
{
    margin-top: 1em;
    height: 3em;
    width: 3em;
}

#controls form
{
    display: inline-block;
    padding-top: 1.5em;
    padding-left: 20px;
}

#controls form input
{
    width: 100px;
}

#page_title
{
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

#content table
{
    width: 100%;
    text-align: center;
}

table.editablegrid > tbody > tr > td
{
  height: 20px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  border: solid 5px white;
  background-color: #dce0e8;
}

.info_edit_link, .menu_edit_link
{
/*     vertical-align: super; */
    font-size: 0.75em;
}

.info_label
{
    font-size:1.2em;
    font-weight:bold;
    padding-right:5px;
}

.info_save_link, .menu_save_link
{
    vertical-align: super;
    font-size: 0.75em;
    display: none;
}

input.info_edit_box
{
    resize:none;
    margin:0;
    padding:0;
/*     font-size:0.8em; */
    height:auto;
    border:0;
}

.info_text
{
	font-weight: bold;
}

.type_content
{
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-style: groove;
	  border-color: #ffffff;
	  border-width: 3px;
    background-color: #eee;
    padding: -1px;
    margin: 0px 0px;
}

.redactor_content
{
  padding: 5px !important;
  margin: 0px !important;
  word-wrap: break-word;
/*   margin: 1px 1px 15px 1px; */
}

.icon_content
{
  margin-right: 5px;
}

.content_icontainer
{
  min-height: 19px;
  text-align: right;
}

.content_well
{
  margin-bottom: 20px;
}

.redactor_box, .redactor_box textarea {
  background-color: rgba(0,0,0,0) !important;
  border:none;
}

.redactor_editor, .redactor_editor:focus {
  background-color: rgba(0,0,0,0) !important;
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  outline:none;
}

li.dataset_tab
{
  margin: 0;
  font-size:14px;
  height:40px;
}

input.object_hidden_checkbox
{
 margin-top: 0px; 
}

.dropdown-menu
{
  left: -54px;
}
