// Place all the styles related to the data_sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data_sets-controller {
	$slick-border-color: #C0C0C0;
	$slick-border: thin solid $slick-border-color;
	$slick-minheight: 270px;
	$slick-maxheight: 270px;
	$slick-defheight: 100%;
	$slick-row-odd: #FFFFFF;
	$slick-row-even: #EEEEEE;

	.edit_table_control {
		margin-bottom: 10px;
	}

	#slickgrid-container {
		border: $slick-border;
		min-height: $slick-minheight;
		max-height: $slick-maxheight;

		div {
			box-sizing: content-box;
		}

		.editor-button {
			cursor: pointer;
			font-size: 17px;
			padding: 3px;
		}

		select.editor-dropdown {
			width: 100%;
		}

		.editor-text, .editor-text-with-button {
			border: none;
			height: 100%;
			outline: none;
		}

		.editor-text {
			width: 100%;
		}

		.editor-text-with-button {
			width: calc(100% - 30px);
		}

		.slick-cell {
			padding: 5px;
		}

		.slick-delete {
			color: #F00;
			display: block;
			margin: 5px auto 0;
			width: 11px;
		}

		.slick-header-column {
			font-weight: bold;
			height: 5ex;
			line-height: 2.5ex;
			padding: 8px 0;
		}

		.slick-header-columns {
			border-bottom: $slick-border;
			text-align: center;
		}

		.slick-row.even {
			background-color: $slick-row-even;
		}

		.slick-row.odd {
			background-color: $slick-row-odd;
		}
	}

	#slickgrid-resizer {
		background-color: #F00;
		border-top: $slick-border;
		height: 15px;
	}
}
