// Place all the styles related to the data_sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slickgrid-container {
	height: 600px;

	div {
		box-sizing: content-box;
	}

	.slick-cell {
		padding: 0;
	}

	input.editor-text {
		border: none;
		height: 100%;
		outline: none;
		width: 100%;
	}
}