// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_edit_link
{
    vertical-align: super;
    font-size: 0.75em;
}

.field_save_link
{
    vertical-align: super;
    font-size: 0.75em;
    display: none;
}

.oddrow
{
    background-color: #e8f0f8;
    padding: 5px 0px 5px 5px;
}

.evenrow
{
    background-color: white;
    padding: 5px 0px 5px 5px;
}
