// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_edit_link
{
    vertical-align: super;
    font-size: 0.75em;
}

.field_save_link
{
    vertical-align: super;
    font-size: 0.75em;
    display: none;
}

.grey_content
{
  background-color:#EEE;
}

.center
{
  text-align: center;
}