// Place all the styles related to the Fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add_fields {
  margin: 10px 0 15px 0;
}

.description {
  text-align: left;
  margin-top: 10px;
}

.field_delete {
  color: #F00;
  display: block;
  margin: 5px auto 0;
  width: 30px;
  text-align: center;
}

@media (max-width: 770px) {
  .description, .restrictions, .units {
    display: none;
  }
}

@media (max-width: 1000px) {
  .num_picker {
    display: none;
  }
}

.new_field {
  width: 115px;
  text-align: center;
}
