// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mobileButtonTable {
  display:table; 
  table-layout:fixed; 
  text-align:center; 
  width:100%;
}

.mobileButtonCell {
  display:table-cell;
  width:50%
}

.featured_image {
  width:100%;
  height:120px;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow:hidden;
}

.c_item
{
  overflow:hidden;
  background-color: #e8e8e8;

  border-width: 1px;
  
  -moz-box-shadow: 0px 5px 5px #888888;
  -webkit-box-shadow: 0px 5px 5px #888888;
  box-shadow: 0px 5px 5px #888888;
  
}

.c_item:hover
{
  -moz-box-shadow: 0 0 15px 2px #888888;
  -webkit-box-shadow: 0 0 15px 2px #888888;
  box-shadow: 0 0 15px 2px #888888;  
}