// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#more-vis-btn {
  margin: 10px;
}

body[data-page-name="home/formulas_help"] {
  $func-border: 1px solid #DDD;

  .category-header {
    align-items: baseline;
    border-bottom: 1px solid #888;
    display: flex;
    margin-bottom: 24px;
  }

  .category-header__anchor {
    display: block;
    position: relative;
    top: -80px;
  }

  .category-header__title {
    flex-grow: 1;
  }

  .func-description:not(:last-child) {
    margin-bottom: 10px;
  }

  .func-description__bottom {
    border: $func-border;
    border-top: none;
  }

  .func-description__signature {
    border: $func-border;
    border-right: none;
    flex-grow: 1;
    //white-space: nowrap;
  }

  .func-description__summary {
    font-weight: bold;
    border: $func-border;
  }

  .func-description__top {
    display: flex;
  }

  .func-description__bottom, .func-description__signature, .func-description__summary {
    padding: 20px;
  }
}

#homepage_feature {
  border: 1px solid #c5e3ff;
  border-radius: 10px;
  #description_area {
    border-right: 1px solid #c5e3ff;
    border-radius: 10px 0 0 10px;
    background: #c5e3ff;
    background: -moz-linear-gradient(bottom, #c5e3ff 0%,#ffffff 99%);
    background: -webkit-linear-gradient(bottom, #c5e3ff 0%,#ffffff 99%);
    background: linear-gradient(to top, #c5e3ff 0%,#ffffff 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5e3ff', endColorstr='#ffffff',GradientType=1 );
    height: 400px; // Vis height is constant
  }
}
