// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#outer{
  padding-bottom: 10px !important;
}
.home-controller.index-action{  
  div.container.mainContent{
    width:100% !important ; 
    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }
    .invisible{
      visibility: hidden;  
    }
    .homepage-text{
      padding: 10px;
      padding-bottom: 15px;
      background-color: #F2F2F2 !important;
      text-align: left;
      margin-bottom: 10px;
      font-size: 1.2em;
    }
    .homepage-header{
      clear: both;
      color:#3366CC;
      font-size:2.5em;
      text-align: center;
      margin: 0 auto;
    }
    .carousel {
      min-height: 500px;
      height: 90vh;
      margin-bottom: 50px;
      display:block;
    }
    .carousel-slide-text{
      text-align: left;  
      color: black;
      font-size: 2em !important;
    }
    .slide-header{
      font-size: 1.5em;
      font-weight: bolder;
    }
    .carousel-caption {
      z-index: 10;
      background-color: #F2F2F2;
      opacity:0.6;
      margin: 0 auto;
      text-align: left;
      padding: 10px;
    }
    .carousel-img{
      min-height: 500px;
      height:90vh;
    }
    .carousel .item {
      min-height: 500px;
      height: 90vh;
      background-color: #777;
    }
    .carousel-inner > .item > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 500px;
      height: 90vh;
    }
    .carousel-divider{
      margin-top: 0px;
      margin-bottom: 40px;
    }      
    .ternary-content{
      margin-top: 60px;
      height:70vh;
      overflow-y: hidden;
      display:block;
      div{
        margin: 0px !important;
      }
      .two-col{
        clear: both;  
        width:100%;
      }
      .news-prev-wrapper{
        text-align: left !important;
        min-height: 320px !important;
        padding: 0px;
        overflow-y: auto;
        font-size: 1.25em;
      }
      .first-column{
        clear:both;  
      }
      #column-one{
        min-height: 600px ;
        .featurette-divider{
          margin-top: 10px !important;
          overflow-y: hidden;
        }
        .hidden-lg{
          clear: both;
        }
        .item-desc{
          min-height: 300px !important;
          max-height: 300px !important;
          margin-bottom: 5px !important;
        }
        .app-desc{
          text-align: center;
          a{
            margin-bottom: 30px;
          }
        }
        a.item-image-link{
          min-height: 300px !important;
          min-width: 300px !important;
        }
        .col-md-12{
          min-height: 300px;
          margin-bottom: 5px !important;
          margin-left: 0px;
          margin-right: 0px;
          padding: 0px;
          .wide-item{
            background-color: #F2F2F2;
            text-align: center;
            box-shadow: 2px 3px 1px white;
            text-align: left !important;
            min-height: 300px !important;
            margin-bottom: 5px !important;  
          }
          .article_page_content.truncate{
            min-height: 227px !important;
            word-wrap: break-word;
            text-align: left !important;
          }
          .article_page_subtitle.truncate{
            min-height: 25px;
          }
          .article_page_date{
            margin-bottom: 0px;
          }
          .article_page_link{
            background: linear-gradient(to bottom, rgba(242,242,242,0) 0%,rgba(242,242,242,0) 10%,rgba(242,242,242,0) 20%,rgba(242,242,242,.5) 30%,rgba(242,242,242,0.75) 40%,rgba(242,242,242,1)50%,rgba(242,242,242,1) 60%,rgba(242,242,242,1) 70%,rgba(242,242,242,1) 80%,rgba(242,242,242,1) 90%,rgba(242,242,242,1) 100%);
          }
        }
        .under-hid{
          clear: both;
        }
      }
      #column-two{
        min-height: 650px ;
        #stats-row{
          border-radius: 6px;
          height:25%;
          vertical-align:bottom;
          .item{
            background-color: white;
          }
        }
        .featurette-divider{
          color: black;  
        }
        .homepage-stats{
          padding: 5px;
          background-color: #F2F2F2 !important;
          overflow-y: auto;
          text-align: center;
        }
        .col-xs-4{
          text-align: center;
        }
      }
      .under-apps{
        clear: both;
        margin-top: 30px;
      }
      .play-store-button{
        height: 90px;
        width: 90px;
      }
      .app-store-button{
        height: 90px;
        width: 90px;
      }
      .img-rounded{
        -moz-box-shadow: 0 2px 3px 1px #9E9E9E;
        -webkit-box-shadow: 0 2px 3px 1px #9E9E9E;
        box-shadow: 0 2px 3px 1px #9E9E9E;
      }
    }
    .slogan{
      text-align: center;  
    }  
    @media (min-width: 768px) {
      .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
        color: black;
      }
    }

    @media (min-width: 992px) {
      .featurette-heading {
        margin-top: 120px;
      }
    }
  }
  .row.secondary-content{
    height: 90vh;
    display: block;
    overflow: hidden;
    .featurette-divider{
      clear: both;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  .teachers-love-isense-seperator{
    margin-top: 40px;
    margin-bottom: 20px;
    clear: both;
  }
  .isense-desc{
    .homepage-text{
      min-height: 170px !important;
      overflow-y: auto;
    }
    .teachers-love-isense{
      float: left;
      overflow-y: hidden;
      .homepage-text{
        overflow-y: auto;
      }
      .what-is-isense{
        overflow-y: hidden;
        .homepage-text{
          overflow-y: auto;
        }
      }
    .teachers-love-isense{
      overflow-y: hidden;
      .homepage-text{
        overflow-y: auto;
      } 
    }
    .welcome-two{
      margin-bottom: 20px !important;
    }
    .featurette-text{
      font-size: 1.1em !important;
    }
  }    
}
}

.featurette-image{
  width: 100%; 
}

/* Responsive CSS for Homepage */
.home-controller.index-action{
  @media(max-width:767px){
    .isense-desc{
      min-height: 500px;
      height: 100vh;
    .teachers-love-isense{
      margin-top: 0px;
      height: 40vh;
    }
    }
    #column-one{
      height: auto;
    }
    .row.secondary-content{
      height: auto;
      .col-lg-8{
        clear: both;
      }
    }
    #main-image-featurette{
      min-height: 500px;
      height: 95vh;
      clear: both;
    }
    .ternary-content{
      height: auto;
    }
    .news-prev-wrapper{
      height: 45vh;
      overflow-y: scroll;
    }
    /*
    $('.isense-desc').css('min-height', '500px')
    $('.isense-desc').css('height', '100vh')
    $('#column-one').css('height', '95vh')
    $('.row.secondary-content').css('height', 'auto')
    $('#main-image-featurette').css('min-height', '500px')
    $('#main-image-featurette').height("95vh")
    $('.row.secondary-content').find('.col-lg-8').css('clear', 'both')
    $('#main-image-featurette').css('clear', 'both')
    $('.ternary-content').height('95vh')
    $('.news-prev-wrapper').css('height', '45vh')
    $('.news-prev-wrapper').css('overflow-y', 'scroll')
    $('#column-one').height('auto')
    $('.ternary-content').height('auto')
    */  
  }
  @media(min-width:768px) and (max-width: 1199px){
    
    .isense-desc{
      min-height: 170px;
      height: 45vh;
    }
    .row.secondary-content{
      height: 100vh;
    }
    .featurette-image{
      height: 100vh;
    }
    #main-image-featurette{
      min-height: 300px;
      height: 60vh;
    }
    .ternary-content{
      height: 90vh !important;
    }
    #column-one{
      height: 100vh;
    }
    .news-prev-wrapper{
      height: 60vh;
      overflow-y: scroll;
    }
    .ternary-content{
    }
    /*
    $('.isense-desc').css('min-height', '170px')
    $('.isense-desc').height("45vh")
    $('.row.secondary-content').height('100vh')
    $('.featurette-image').height("40vh")
    $('#main-image-featurette').css('min-height', '300px')
    $('.ternary-content').height('90vh')
    $('#column-one').css('height', '90vh')
    $('.news-prev-wrapper').css('height', '60vh')
    $('.news-prev-wrapper').css('overflow-y', 'scroll')
    $('.ternary-content').css('overflow-y', 'hidden')
    $('#column-one').height('auto')
    $('.ternary-content').height('auto')
    $('#main-image-featurette').css('height', '60vh')
    */
  }
  @media(min-width:1200px){
    .isense-desc{
      min-height: 500px;
      height: 95vh;
    }
    #main-image-featurette{
      min-height: 500px;
      height: 95vh;
    }
    .ternary-content{
      overflow-y: visible;
    }
    .news-prev-wrapper{
      height: 75vh;
    }
    #column-one{
      height: 80vh;
    }
    #column-two{
      height: 80vh;
    }
    .teachers-love-isense{
      margin-top: 60px;
      overflow-y: scroll;
    }
    .row.secondary-content{
      .col-lg-8{
        clear: '';
      }
    }
    /*
    $('.isense-desc').css('min-height', '500px')
    $('.isense-desc').height("95vh")
    $('#main-image-featurette').css('min-height', '500px')
    $('#main-image-featurette').css('height', '95vh')
    $('.ternary-content').css('overflow-y', 'visible')
    $('.news-prev-wrapper').height('75vh')
    $('#column-one').height('80vh')
    $('#column-two').height('80vh')
    $('.teachers-love-isense').css('margin-top', '60')
    $('.row.secondary-content').find('.col-lg-8').css('clear', '')
    */
  }
}