// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.summary
{
  textarea
  {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;    
  }

  .icon-ok
  {
    margin-top: 20px;
  }
} 

.news
{

  .summary
  {
    text-align:justify;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    
  }
  margin-left: 10px;
}

.news_page_title
{
  font-size: 1.8em;
  font-weight: bold;
}

.news_title 
{
  .info_text
  {
    font-size: 1.75em; 
  }
  .summary
  {
    font-size: 1em;
  }
}

.news_featured_image_2
{
  width:100%;
  height:100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: 175%;
  overflow:hidden;
}
.row{
    
  word-wrap: break-word;
  
}
.news-link{
  float:left;
  width:30%;
  height:198px;  
}

.description_with_image{
  word-wrap: break-word;
  padding:7px;
  width:68%;
  height:184px;
  float:right;  
}
.description_without_image{
  word-wrap: break-word;
  padding:7px;
  width:100%;
  height:184px;
}