// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.summary
{
  textarea
  {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }

  .icon-ok
  {
    margin-top: 20px;
  }
} 

.news
{

  .summary
  {
    text-align:justify;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
  }
  margin-left: 10px;
}

.news_title 
{
  .info_text
  {
    font-size: 1.75em; 
  }
  .summary
  {
    font-size: 1em;
  }
}