// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contrib-keys-box th {
  min-width: 30%; text-align: center;
}

#contrib-keys-row {
  padding: 1em;
}

.contrib-keys-box p {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

//---------Unverified css--------------------------

#manualTable
{
  td
  {
    max-width:100px;
  }
}

@media print
{
  .header
  {
    font-size:1.3em;
    font-weight:bold;
  }

  .input-line
  {
    font-size:1.3em;
    font-weight:bold;
    margin: 1em 0em 2em 0em;
  }
  
  .pagebreak
  {
    page-break-after:always;
    page-break-before:always;
  }

  body
  {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }

  table#entry
  {
    td
    {
      height:2em;
      min-width:75px;
    }
  }
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
}

//========Unverified CSS==============

#collapseFields
{
  width: 100%;
  overflow-x: auto;
}

.field_edit_link
{
  vertical-align: super;
  font-size: 0.75em;
}

.field_save_link
{
  vertical-align: super;
  font-size: 0.75em;
  display: none;
}

.field_delete_link
{
  vertical-align: super;
  font-size: 0.75em;
  display: none;
}

.fields_edit_option
{
  margin-top:15px;
}
.fields_edit_menu
{
  margin-top:15px;
}
.likes
{
  margin-top:5px;
}

.add_content
{
  padding: 100px 0px 100px 0px;
}

.grey_content
{
  background-color:#EEE;
}

.sidebar_box
{
  margin: 10px 0px;
  padding: 10px 10px;
  border-style: groove;
  border-color: #ffffff;
  border-width: 2px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

.center
{
  text-align: center;
}

.project_info_box
{
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

input.name_edit_box, input.unit_edit_box, .name_add_box, .unit_add_box, .type_add_box
{
  width: 80%;
  height:16px;
  margin:0;
  padding: 2px 6px;
}


#notices, #lock_notice, #hidden_notice
{
 i
 {
   background-color: yellow; 
 }
 #id_notice
 {
  font-size: 1.1em; 
  font-weight:bold;
 }
}

.center
{
  text-align: center;
}

button.finished_button
{
  float: right;
  margin: 15px 0px 0px 0px;
}

button.cancel_upload_button
{
  margin: 15px 0px 0px 0px;
}

input.projects_add_filter_checkbox
{
  margin-top: 0px;
}

.hoverimage{
  height: 75px;
}

.box-container{
}



.box-slider
{
  border: 1px solid #b5b5b5;
  border-radius: 0px 0px 15px 15px;
  background-color: #fafafa;
  border-top: 0px;
  margin-bottom: 20px;

}

.box-slider:hover
{
  bacground-color: #eaeaea;
}

#exp_qr_tag
{
  max-width:110px;
  padding-bottom:10px;
}

.fields_table, #viz_table, #media_table, #dataset_table
{
  width: 100%;
  
  th
  {
    text-align:left;
  }
  td
  {
    padding-bottom: 5px;
    padding-top:    5px;
  }
  
  input
  {
    margin-bottom: 0px;
  }
  .controls
  {
    font-size: .75em;
  }
  .gravatar, .media_icon{
    vertical-align: middle;
    width: 32px;
  }
  .ds_selector{
    width:15px; 
    //padding-top:7px;
    //display:inline-block;
    float: right ;
    margin-right: 10px ;
  }
}

#dataset_table
{       
  td:not(:last-child)
  {
    padding-left: 5px;
  }
}

table#fields_table
{

  tr, td, th
  {
    padding: 10px;
  }
  
  select{
    margin-top: 7px;
  }
  
  tr.row-even
  {
    background-color: #dedede;
  }
}