// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#collapseFields
{
  width: 100%;
  overflow-x: auto;
}

.field_edit_link
{
  vertical-align: super;
  font-size: 0.75em;
}

.field_save_link
{
  vertical-align: super;
  font-size: 0.75em;
  display: none;
}

.field_delete_link
{
  vertical-align: super;
  font-size: 0.75em;
  display: none;
}

.fields_edit_option
{
  margin-top:15px;
}
.fields_edit_menu
{
  margin-top:15px;
}
.likes
{
  margin-top:5px;
}

.add_content
{
  padding: 100px 0px 100px 0px;
}

.grey_content
{
  background-color:#EEE;
}

.sidebar_box
{
  margin: 10px 0px;
  padding: 10px 10px;
  border-style: groove;
  border-color: #ffffff;
  border-width: 2px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

.center
{
  text-align: center;
}

.project_info_box
{
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

input.name_edit_box, input.unit_edit_box, .name_add_box, .unit_add_box, .type_add_box
{
  width: 80%;
  height:16px;
  margin:0;
  padding: 2px 6px;
}

#projects_search
{
  width: 100%;
}

.center
{
  text-align: center;
}

.search-query, .projects_sort_select
{
  width: 100%;
}

button.finished_button
{
  float: right;
  margin: 15px 0px 0px 0px;
}

button.cancel_upload_button
{
  margin: 15px 0px 0px 0px;
}

input.projects_add_filter_checkbox
{
  margin-top: 0px;
}

.hoverimage{
  height: 75px;
}

.box-container{
}

.box-header 
{
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
  border: 1px solid #b5b5b5;
  border-radius: 4px 4px 0px 0px;
  font-size: x-large;
  padding-top: 10px;
  padding-bottom: 10px;

}

.box-content
{

  border: 1px solid #b5b5b5;
  border-top: 0px;
  padding: 20px;
  
}

.box-slider
{
  border: 1px solid #b5b5b5;
  border-radius: 0px 0px 15px 15px;
  background-color: #fafafa;
  border-top: 0px;
  margin-bottom: 20px;

}

.box-slider:hover
{
  bacground-color: #eaeaea;
}

#exp_qr_tag
{
  max-widht:109px;
  padding-bottom:20px;
}

.fields_table, #viz_table, #media_table, #dataset_table
{
  width: 100%;
  
  th
  {
    text-align:left;
  }
  td
  {
    padding-bottom: 5px;
    padding-top:    5px;
  }
  
  input
  {
    margin-bottom: 0px;
  }
  .controls
  {
    font-size: .75em;
  }
  .gravatar, .media_icon{
    vertical-align: middle;
    width: 32px;
  }
  .ds_selector{
    width:15px; 
    padding-top:7px;
    display:inline-block;
  }
}

#template_match_box
{
  width: 600px;
  margin-left: -310px;
}

#match_box
{
  width:400px;
  margin-left: -210px;
}

#dataset_table
{       
  td:not(:last-child)
  {
    padding-left: 5px;
  }
}