.projects-controller {
  #addProjectButton {
    margin-bottom: 12px;
  }

  .create-project-btn {
    margin-top: 10px;
  }

  @media only screen and (min-width: 770px) {
    #create-project-fab-button {
      width: 104px;
      height: 104px;
    }

    #fab-plus-icon {
      font-size: 48px;
      -ms-transform: translate(-24px,-12px);
      -webkit-transform: translate(-24px,-12px);
      transform: translate(-24px,-12px);
    }
  }

  #create-project-fab-button {
    background: #00CC00;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding-top: 25px;
    margin-bottom: 0;
    z-index: 998;
  }

  .create-project-inner-block {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
  }

  .create-project-outer-block {
    display: table;
  }

  .field-ref-table {
    margin: 0 auto;
    margin-top: 10px;
    table-layout: fixed;
    width: 100%;

    thead {
      font-weight: bold;

      tr:first-child {
        text-align: center;
      }

      tr:last-child {
        border-bottom: 1px solid #888;
      }
    }

    td {
      padding: 3px 10px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    td:not(:last-child) {
      border-right: 1px solid #AAA;
    }
  }

  .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .hoverimage {
    width: 75px;
    height: 75px;
  }

  .modal-dialog i {
    margin: 0 0 15px 15px;
    display: inline-block;
  }

  .project_buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .search-box .padded-col {
    margin-bottom: 12px;
  }

  .sort-hamburger {
    padding-top:8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide-input {
    width: 100% !important;
  }

  .fmodal-ref-link {
    padding-bottom: 10px;
    padding-top: 50px;
  }

  #project-tag-list {
    width: 50%;
    margin-top: 2%;
  }

  .remove-tag {
    float: right;
    line-height: inherit;
    cursor:pointer;
  }

.card-tag-list {
  text-overflow: clip;
  text-overflow: ellipsis;
  text-overflow: "…";
  white-space: nowrap;
  overflow: hidden;
  }

}
