// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#collapseFields
{
  width: 100%;
  overflow-x: auto;
}

.field_edit_link
{
  vertical-align: super;
  font-size: 0.75em;
}

.field_save_link
{
  vertical-align: super;
  font-size: 0.75em;
  display: none;
}

.field_delete_link
{
  vertical-align: super;
  font-size: 0.75em;
  display: none;
}

.add_content
{
  margin: 100px 0px 100px 0px;
}

.grey_content
{
  background-color:#EEE;
}

.sidebar_box
{
  margin: 10px 0px;
  padding: 10px 10px;
  border-style: groove;
  border-color: #ffffff;
  border-width: 2px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
}

.center
{
  text-align: center;
}

.project_info_box
{
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

input.name_edit_box, input.unit_edit_box, .name_add_box, .unit_add_box, .type_add_box
{
  width: 80%;
  height:16px;
  margin:0;
  padding: 2px 6px;
}

#projects_search
{
  width: 100%;
}

.center
{
  text-align: center;
}

.search-query, .projects_sort_select
{
  width: 100%;
}

.invalid
{
  background-color: rgba(255, 0, 0, 0.6);
}

button.finished_button
{
  float: right;
  margin: 15px 0px 0px 0px;
}

button.cancel_upload_button
{
  margin: 15px 0px 0px 0px;
}

input.projects_add_filter_checkbox
{
  margin-top: 0px;
}

div.dataset.feed-even, div.dataset.feed-odd, div#dataset_list div.feed-top
{
  padding: 2px 5px 2px 5px;
}
