.projects-controller {
  #addProjectButton {
    margin-bottom: 12px;
  }
  
  .create-project-btn {
    margin-top: 10px;
  }

  .create-project-inner-block {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
  }
  
  .create-project-outer-block {
    display: table;
    margin-bottom: 2em;
  } 
   
  .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .hoverimage {
    width: 75px;
    height: 75px;
  }
  
  .modal-dialog i {
    margin: 0 0 15px 15px;
    display: inline-block;
  }
  
  .project_buttons {
    margin-top: 40px;
  }

  .search-box .padded-col {
    margin-bottom: 12px;
  }
  
  .wide-input {
    width: 100% !important;
  }

  .sort-hamburger {
    padding-top:8px;
    padding-left: 12px;
    padding-right: 12px;
  }

}
