.projects-controller {
  #addProjectButton {
    margin-bottom: 12px;
  }
  
  .create-project-btn {
    margin-top: 10px;
  }

  #create-project-fab-button {
    background: green;
    position: fixed;
    right: 13%;
    bottom: 25px;
    padding-top: 25px;
    margin-bottom: 0;
    z-index: 998;
  }

  .create-project-inner-block {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
  }
  
  .create-project-outer-block {
    display: table;
  } 
   
  .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .hoverimage {
    width: 75px;
    height: 75px;
  }
  
  .modal-dialog i {
    margin: 0 0 15px 15px;
    display: inline-block;
  }
  
  .project_buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .search-box .padded-col {
    margin-bottom: 12px;
  }
  
  .sort-hamburger {
    padding-top:8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide-input {
    width: 100% !important;
  }

}
