// Place all the styles related to the Experiments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-controller {
  #addProjectButton {
    margin-bottom: 12px;
  }
  
  .create-project-btn {
    margin-top: 10px;
  }

  .create-project-inner-block {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
  }
  
  .create-project-outer-block {
    display: table;
    margin-bottom: 2em;
  } 
   
  .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .hoverimage {
    width: 75px;
    height: 75px;
  }

  .project_buttons {
    margin-top: 40px;
  }

  .search-box .padded-col {
  	margin-bottom: 12px;
  }
  
  .wide-input {
    width: 100% !important;
  }
}