// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body[data-page-name='turorials/index'] .turotials-controller,
.mainContent {
  padding: 0 !important;  // Removes all the extra padding
  margin: 0 !important; // flushes border
  width: 100% !important; // makes page body fill the screen
               // instead of having a fixed width

  .tutorialsContainer {
    padding: 100px;
  }

  .mdl-layout__drawer-button {
    color: white !important;
  }

  .mdl-layout__header{
    background-color: #0D47A1;
    color: white;
  }

  .mdl-card__title {
    height: 250px !important;
  }
  .mdl-card {
    height:350px !important;
  }
}
