// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-controller {
	.pageControls {
		text-align: center;
		padding: 5px;
	}
  
  .wide-input {
    width: 100% !important;
  }

	#searchUserRow {
		margin-top: 12px;
	}

  .col-header {
    cursor: pointer;
    .col-arrows {
      float: right;
    }
    .col-name {
      float: left;
    }
  }
}
