// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
table
{
    th, td
    {
       border: 1px solid black; 
       padding: 2px
    }    
    border-collapse:collapse;
}
*/

.user_info
{
    padding: 5px 6px;
}

.search-query, .users_sort_select
{
  width: 100%;
}

.field_top
{
  width:8em;
  float:left;
  margin-top:20px;
}

#users_search
{
  width: 100%;
}

/*#contribution_search
{
  width: 100%;
}*/

.search-query, .contribution_sort_select
{
  width: 100%;
}
  
.field
{
  width:8em;
  float:left;
}

#user_long_bio
{
  margin-bottom:20px;
}
