// Place all the styles related to the Visualisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#visualizations_search
{
  width: 100%;
}

.search-query, .visualizations_sort_select
{
  width: 100%;
}

#tabcontainer {
  margin: 10px;
}

.redactor .item{
 min-height:500px;
 padding: 30px 80px 20px 80px; 
 background-color:white;
 
}

.carousel-control {
  top:300px; 
  
}


#contentCarousel .add_content{
 padding: 190px 0px 0px 0px ;
}

