// Place all the styles related to the Visualisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#visualizations_search
{
  width: 100%;
}

.search-query, .visualizations_sort_select
{
  width: 100%;
}

#tabcontainer {
  margin: 10px;
}

.redactor .item{
 min-height:500px;
 padding: 30px 80px 20px 80px; 
 background-color:white;
 
}

.carousel-control {
  top:300px; 
  
}

#contentCarousel .add_content{
 padding: 190px 0px 0px 0px ;
}

ol.carousel-indicators
{
  a li
  {
    background-color:#AAA;
  }
  
  a.active li
  {
    background-color:black;
  }
}

@media print 
{
  #title_bar, .footer, #title_row
  {
    display:none;
  }
  a:link:after, a:visited:after {   
    content: "";  
  }
  #print_title
  {
    display:block;
  }
  @page :left {
    margin: 0.5cm;
  }

  @page :right {
    margin: 0.8cm;
  }
  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }
  .print{
    display:block;
  }
  .viz_title
  {
    font-size: 1.5em;
  }
}

@media screen
{
  .print{
    display:none; 
  }
}

.visualization_title 
{
  .summary
  {
    font-size: .5em; 
  }
}