// Place all the styles related to the Visualisations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http: //sass-lang.com/

// because displaying a vis is in the same div class as view all vises
body[data-page-name='visualizations/displayVis'] .visualizations-controller,
body[data-page-name='visualizations/show'] .visualizations-controller,
.embedded {

  // colors
  $border-color: #ABABAB;
  $border: thin solid $border-color;
  $error: #F00;
  $error-hover: #C00;
  $hint: #888;
  $link: #337AB7;
  $panel-bkg: #E8E8E8;
  $regr-bkg: #DDD;
  $regr-dis-bkg: #EEE;
  $regr-dis-font: #666;
  $select-bkg: linear-gradient(#49A7DB, #268AC1);
  $shadow-color: #9E9E9E;
  $shadow: 0 2px 3px 1px $shadow-color;
  $vis-bkg-dark:  #CBCBCB;
  $vis-bkg-mid:   #DCDCDC;
  $vis-bkg-light: #F2F2F2;
  $jqgrid-bkg: linear-gradient(#FFFFFF, $vis-bkg-mid);

  // some stuff on the page (buttons mostly) shouldn't have selectable text
  @mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .axis {
    display:inherit;
    width: 45%;
  }
  .axis-container {
    display: inline-block;
  }
  .bold {
    font-weight: bold;
  }

  .color-picker {
    vertical-align: top;
    float: right;
  }

  div.regr-tooltip {
    width: 100%;
    text-align: center;
    color: #000;
  }

  .edit_menu {
    display: inline-block;
  }

  // button that enables fullscreen vis, not the fullscreen viz itself
  #fullscreen-vis {
    margin: 1px;
  }

  .group-header {
    border-bottom: thin solid #777;
    color: #222;
    margin: 5px;
    padding: 5px;
  }

  .hamburger-menu {
    transition: background-color .5s ease;
    height: 32px;
    width: 30px;
    padding: 0 5px;
    margin: 0;
    background-color: white;

    .hamburger-bar {
      transition: background-color .5s ease;
      display: block;
      height: 4px;
      width: 100%;
      background-color: #555;
      border-radius: 4px;
      margin: 2px auto;
    }
  }

  .hamburger-menu.down {
    background-color: #555;

    .hamburger-bar {
      background-color: white;
    }
  }

  #heatmap-error-text {
    color: $error;
    white-space: normal;
  }

  .highcharts-legend-item span {
    display: inline-block;
    width: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
  }

  .hint {
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 90%;
    color: $hint;
  }

  .mainContent {
    padding: 0;  // Removes all the extra padding
    margin: 0; // flushes border
    width: 100%; // makes page body fill the screen
                 // instead of having a fixed width
  }

  // the display text for a disabled vis
  .novis_message {
    padding: 25px;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
    line-height: 25pt;
    color: $hint;
  }

  // photos may require scrollbar; margin so photos do not touch top of canvas
  #photos-canvas {
    overflow-y: auto;
    margin-top: 20px;
  }

  #radius-text {
    width: 75px;
    text-align:right;
  }

  #refresh-data {
    margin-left: 10px;
  }

  .regr-option {
    text-align: center;
    margin-left: 4px;
  }

  #regr-table {
    width: 100%;

    #regr-table-body {
      text-align: left;

      .data {
        border-bottom: $border;
      }

      .disabled {
        background-color: $regr-dis-bkg;
        color: $regr-dis-font;
      }

      .remove {
        color: $error;
        width: 10%;
        text-align: center;
      }

      .row {
        border-bottom: $border;
        cursor: pointer;
      }

      .row::before, .row::after {
        content: none; // Override bootstrap row styling
      }

      .row:hover {
        background-color: $regr-bkg;
        border-bottom: $border;
      }
    }

    #regr-table-header {
      text-align: left;
      font-size: 12px;
    }
  }

  .row {
    margin: 0;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .summary {
    padding: 5px 0px 5px 0px;
    font-style: italic;
    color: $hint;
  }

  #summary-canvas {
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px;

    .panel-heading {
      font-size:2em;
      font-weight:bold;
    }

    .panel-body {
      font-size:1.5em
    }
  }

  // table vis needs additional love to make it look right
  #table-canvas {
    table {
      border-color: $border-color;
    }

    .ui-icon {
      width: 16px;
      height: 16px;
      background-image: url(/assets/vis/ui-icons_222222_256x240.png);
    }

    // Moves the bottom sort icon down a bit
    .ui-icon-triangle-1-s {
      margin-top: 5px;
    }

    // the entire header box
    .ui-jqgrid-hbox {
      background: $jqgrid-bkg;
      border-bottom: $border;
    }

    .ui-jqgrid-hbox table > thead > tr > th {
      border-top: none !important; // because inline styles
                                   // (jQuery UI - can't fix)
      border-right: $border;
    }

    // hide inactive sort icon
    .searchResults .ui-jqgrid .ui-icon-asc,
    .searchResults .ui-jqgrid .ui-icon-desc {
        color: black;
    }

    // The clear icon
    .ui-search-clear {
      a {
        color: $error;
      }
      a:hover {
        color: $error-hover;
      }
    }

    .ui-state-disabled {
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
    }
  }

  .subtitle {
    font-size: 14px;
  }

  .tab-content {
    height: inherit;
    width: inherit;
  }

  #target-img h4 {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #title_row {
    padding-left:10px;
    font-size:1.75em;
    position:relative;
  }

  .vis-canvas {
    height: inherit;
    overflow: hidden; // because something inside vis-canvas
                      // is overflowing on every non-map vis
  }

  #vis-wrapper {
    width: 100%;
    height: 100%;

    // floats the actual vis to the right
    #vis-container {
      position: absolute;
      right: 0;
      width: 100%;
      height: 100%;

      .tab-content {
        width: 100%;
      }

      #vis-disabled {
        overflow: hidden;
      }

      #vis-header {
        background-color: $vis-bkg-light;
      }

      #vis-tab-list {
        padding: 0; // removes padding that shouldn't be there to begin with
        margin: 0;
      }

      #vis-title-bar {
        width: 100%;
        font-size: 1.5em;
        padding: 10px;
        white-space: nowrap;

        #vis-title {
          margin-left: 10px;
          vertical-align: middle;
        }

        #vis-title-edit-btn {
          float: right;
        }

        .edit_visualization, .edit_data_set {
          display: none;
        }

        #title-and-menu {
          display: inline-block;

          #title-name {
            vertical-align: middle;
          }
        }
      }

      #vis-filters {
        margin: 3px;
        overflow-y: auto;

        .vis-filter {
          background-color: white;
          border: thin solid $vis-bkg-mid;
          border-radius: 5px;
          display: inline-block;
          margin: 3px;
          padding: 2px 5px;
          whitespace: nowrap;
        }

        .vis-filter:hover {
          background-color: $vis-bkg-dark;
        }

        .remove {
          cursor: pointer;
        }
      }
    }

    #vis-ctrl-container {
      position: relative;
      display: inline-block;
      float: left;
      z-index: 1;
      background-color: $vis-bkg-dark;
      width: 320px;
      height: 100%;

      // this is where all the div controls get added
      #vis-ctrls {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        display: inline-block;
        float: left;

        // puts spacing between some boostrap buttons
        .form-control { // this styles bootstrap stuff and IS VERY BAD
          margin-bottom: 5px;
        }

        .full-width {
          width: 100%;
        }

        .save-btn {
          display: inline-block;
          width: 80%;
          margin: 5px auto;
        }

        // any input button inside this class isn't lined up with the
        // text to its right - this fixes that
        .vis-ctrl-body {
          display: none;
          font-size: 14px;
          width: 100%;
          padding: 5px 20px;
          background-color: $vis-bkg-light;

          .centered {
            text-align: center;
          }
          .cbx {
            display: inline;
          }
          .checkbox, .radio {
            text-align: left;
            margin: 1px 0;
            width: 85%;
            display: inline-block;

            input {
              margin-top: 2px;
              margin-left: 0;
            }
          }

          .mdl-radio, .mdl-checkbox{
            position: relative;
            float: left;
          }

          .mdl-checkbox__label, .mdl-radiobox__label {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .vis-ctrl-subblock {
            margin-bottom: 5px;

            .cpickr-icon {
              margin-left: 2px;
              height: 20px;
              width: 20px;
            }
          }

          .vis-ctrl-subtitle {
            text-align: left;
          }
        }

        .vis-ctrl-header {
          font-size: 24px;
          padding: 10px 20px;
          margin: 0;
          color: #337AB7;
          white-space: nowrap;
          overflow: hidden;
          cursor: pointer;
          height: 55px;
          width: 100%;
          background: $vis-bkg-mid;
          border-bottom: $border;

          .vis-ctrl-title {
            float: left;
          }

          .vis-ctrl-icon {
            float: right;
          }
        }
      }
    }

    .vis-tab-icon {
      height: 32px;
      width: 32px;
    }
  }
}

// the dropdown menu for the table vis is located as a direct child of the body, so this has to go here
ul#sopt_menu {
  background-color: #FFF;
  margin: 0;
  padding: 0;

  // display mode is required for list items to be displayed with proper margins and padding
  li {
    display: block;
    margin: 0;
    padding: 5px;
    border-left: thin solid #ABABAB;
    border-bottom: thin solid #ABABAB;
    border-right: thin solid #ABABAB;
  }

  // when a box is chosen or hovered over
  li:hover, li.ui-state-highlight {
    background-image: linear-gradient(#49A7DB, #268AC1);
    a > table > tbody > tr > td { // this is gross
      color: #FFF;
    }
  }
}

body[data-page-name='visualizations/displayVis'] .visualizations-controller,
body[data-page-name='visualizations/show'] .visualizations-controller {
  .ui-accordion-header {
    padding-top: 3px;
  }
}

.embedded {
  .ui-accordion-header {
    padding-top: 10px;
  }

  .bootstrap-switch {
    height: 36px;
  }
}

.visualizations-controller {
  #searchVisRow {
    margin-bottom: 12px;
  }
}
