<h1>Your iSENSE password reset link</h1>
<p>Hi, <%= @resource.name %>,</p>
<p>Somebody has requested a password reset for your iSENSE account. If
it wasn't you, you can safely ignore this message.</p>
<p>To reset your password, visit this URL:<br>
<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>