<div id="{{id}}" class="full-width">
  <div class="vis-ctrl-header" data-log-id="{{title}}-tools">
    <span class="vis-ctrl-title">{{title}}</span>
    <span class="vis-ctrl-icon"><i class="fa fa-chevron-left"></i></span>
  </div>
  <md-divider></md-divider>
  <div class="vis-ctrl-body">
    {{{body}}}
  </div>
</div>
