<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Box Plot Options</h4>
  <div>
    {{> visualizations/controls/_checkbox meanLine}}
    {{> visualizations/controls/_checkbox horizontalBoxes}}
  </div>
</div>
{{{period}}}
