<div class="vis-ctrl-sublock">
  {{> visualizations/controls/_switch this}}
  <div class="centered">
    <button id="save-filters-btn" class="save-btn btn btn-sm btn-default"
            data-log-id="save-filters">
      Add Current Filters
    </button>
    <button id="clear-filters-btn" class="save-btn btn btn-sm btn-default"
            data-log-id="clear-filters">
      Clear All Filters
    </button>
  </div>
</div>
