<div class="vis-ctrl-sublock">
  <h4 class="vis-ctrl-subtitle">Filters
    <i class="fa fa-question-circle control-tooltip"
      data-toggle="tooltip" data-placement="top"
      title="Use the search boxes in the Table to define filters. You can also define filters from your current bounds in the Scatter and Timeline visualizations.">
    </i>
  </h4>
  <div class="centered">
    {{> visualizations/controls/_switch this}}
    {{#if buttonEnabled}}
      <button id="save-filters-btn" class="save-btn btn btn-sm btn-default"
              data-log-id="save-filters">
        Set Current Filters
      </button>
    {{else}}
      <button id="save-filters-disabled-btn" class="btn btn-sm btn-default save-disabled">
        Filtering Disabled with Period
      </button>
    {{/if}}
    <button id="clear-filters-btn" class="save-btn btn btn-sm btn-default"
            data-log-id="clear-filters">
      Clear All Filters
    </button>
  </div>
</div>
<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Upload Time</h4>
  <label>Show Data Uploaded:</label>
  <select id="uploadfilter" class="form-control" disabled>
    <option value="anytime" data-log-id="uploadfilter-all">Anytime</option>
    <option value="today" data-log-id="uploadfilter-today">Today Only</option>
    <option value="yesterday" data-log-id="uploadfilter-yesterday">Yesterday Only</option>
    <option value="week" data-log-id="uploadfilter-week">This Week</option>
    <option value="month" data-log-id="uploadfilter-month">This Month</option>
    <option value="year" data-log-id="uploadfilter-year">This Year</option>
  </select>
  <div class="checkbox">
    <label id="ckbx-lbl-autorefresh" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ckbx-autorefresh">Refresh Automatically
      <input id="ckbx-autorefresh" data-log-id="autorefresh" type="checkbox" class="mdl-checkbox__input"/>
      <span class="mdl-checkbox__label">{{label}}</span>
    </label>
  </div>
</div>
<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Disable Data Points <i class="fa fa-question-circle control-tooltip" data-toggle="tooltip" data-placement="top" 
    title="Click on a data point in Map, Scatter, or Table, then click the Disable Selected Point button to filter it from the visualization. Enable all disabled points with the Enable button."></i></h4>
  <div class="centered" style="padding-left: 10%; padding-right: 10%">
    <button id="disable-point-button" data-log-id="disable-point" class="btn btn-sm btn-default" style="display: block; width: 100%; margin-bottom: 10px" disabled>Disable Selected Point</button>
    <button id="enable-points-button" data-log-id="enable-points" class="btn btn-sm btn-default" style="display: block; width: 100%;">Enable All Points</button>
  </div>
</div>
