<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Bin Size</h4>
  <div>
    <label for="bin-size-slider">Automatic:</label>
    <input id="bin-size-slider" type="range" class="slider"
           data-log-id="bin-size-slider">
  </div>
  <div>
    <label for="bin-size">Manual:</label>
    <input id="bin-size" class="form-control" value="{{binSize}}">
    <button id="set-bin-size-btn" data-log-id="set-bin-size" class="btn btn-default">Set Bin Size</button>
  </div>
</div>
