<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Period <i class="fa fa-question-circle control-tooltip" data-toggle="tooltip" data-placement="top" 
      title="Enable Period mode to view data bounded into a period range. Change the grouping options to separate different periods."></i></h4>
  <div>
    <select id="period-list" class="form-control">
      <option value="off" data-log-id="period-off">Off</option>
      <option value="hourly" data-log-id="period-hourly">Hourly</option>
      <option value="daily" data-log-id="period-daily">Daily</option>
      <option value="weekly" data-log-id="period-weekly">Weekly</option>
      <option value="monthly" data-log-id="period-monthly">Monthly</option>
      <option value="yearly" data-log-id="period-yearly">Yearly</option>
    </select>
  </div>
</div>
