<tr id ="{{id}}" class="row" data-logid="{{logId}}">
  <td class="data truncate">
    {{name}}
  </td>
  <td class="data">
    {{type}}
  </td>
  <td class="remove">
    <i class='fa fa-times-circle'></i>
  </td>
</tr>
