<div class="centered">
  <button id="save-vis-btn" class="save-btn btn btn-sm btn-success"
          data-log-id="save-vis">
    Save Visualization
  </button>
  <button id="default-vis-btn" class="save-btn btn btn-sm btn-primary"
          data-log-id="default-vis">
    Make Default
  </button>
  <button id="download-image-btn" class="save-btn btn btn-sm btn-default"
          data-log-id="download-vis">
    Download Image
  </button>
  <button id="download-vector-btn" class="save-btn btn btn-sm btn-default"
          data-log-id="download-vis">
    Download Vector
  </button>
  <button id="download-document-btn" class="save-btn btn btn-sm btn-default"
          data-log-id="download-vis">
    Download Document
  </button>
  <button id="print-vis-btn" class="save-btn btn btn-sm btn-default"
          data-log-id="print-vis">
    Print Visualization
  </button>
</div>
