<div class="centered">
  <button id='save-vis-btn' class='save-btn btn btn-sm btn-success'>
    Save Visualization
  </button>
  <button id='default-vis-btn' class='save-btn btn btn-sm btn-primary'>
    Make Default
  </button>
  <button id='download-vis-btn' class='save-btn btn btn-sm btn-default'>
    Download Visualization
  </button>
  <button id='print-vis-btn' class='save-btn btn btn-sm btn-default'>
    Print Visualization
  </button>
</div>
