<div class="vis-ctrl-subblock">
  <h4 class="vis-ctrl-subtitle">Axis Bounds</h4>
  <table style="z-index: 99;">
    <tr>
      <td style="padding-bottom:10px;">
        <label>X Axis Min:</label>
				<div style="width:100%; display: flex;">
          <input id="x-axis-min" class="form-control axis" style="width:200px;" data-provide="datepicker" value="{{xAxisMin}}" placeholder="eg: 5,10">
				</div>
				<div id="x-min"></div>
      </td>
		</tr>
		<tr>
      <td style="padding-bottom:10px;">
        <label>X Axis Max:</label>
				<div style="width:100%; display: flex;">
          <input id="x-axis-max" class="form-control axis" style="width:200px;" data-provide="datepicker" value="{{xAxisMax}}" placeholder="eg: 5,10">
				</div>
				<div id="x-max"></div>
      </td>
    </tr>
    <tr>
      <td>
    <button id="set-axis-button" data-log-id="set-axis-size" class="btn btn-default">Set Axis Size</button>
      </td>
    </tr>
  </table>
</div>
