<div class="full-width">
  <div class="vis-ctrl-tip" data-log-id="ctrl-tip">
    <p><strong>Bar graph not looking helpful?</strong><br>
    Try grouping by <a id='control-tip-link'>{{field}}.</a></p>
  </div>
</div>